[2015-08-28 15:47] karmatosed opened #1 "Add contributing.md to say how people can contribute."

[2015-08-28 16:11] #1 closed

[2015-08-28 17:31] iamtakashi opened #3 "Make 4.2 as minimum version because of the use of wp_script_add_data()"

[2015-08-28 17:46] karmatosed commented on #3
Closed in: https://github.com/WordPress/twentysixteen/commit/3f169ceaa802deac76a9be03e96a4c533e1e321e

[2015-08-28 17:46] #3 closed

[2015-08-28 18:12] iamtakashi opened #5 "Add RTL language support"
* Add `rtl.css`
* Add `rtl-language-support` tag to both `style.css` and`readme.txt`

[2015-08-28 18:15] iamtakashi opened #6 "Work on old IE version specific stylesheets"
Layout doesn't need to be exactly the same but let's make it at least readable and usable on IE7 and above.

[2015-08-28 18:16] iamtakashi opened #7 "Add print style in the main stylesheet"
Like other default themes, let's add print style at the bottom of the main stylesheet.

[2015-08-29 06:02] obenland commented on #6
I talked to @helenhousandi about dropping support for IE8 in core. Twenty Sixteen seems like a good reason to follow through on that and not worry about outdated IEs anymore.

[2015-08-29 06:04] obenland commented on #3
This will probably be 4.4 at the end of it all. I'd like Twenty Sixteen to piggyback comment navigation template tags into core. I'm also pretty sure that there will be more things like that that will materialize during the release. Like that nasty search form callback for screen reader text.

[2015-08-29 07:36] wenthemes opened #9 "Rename `custom-header.php` to more suitable name"
As now `custom-header.php` contains functions for both Custom Header and Custom Background, may be we should rename it to more suitable name.

[2015-08-29 08:13] wenthemes opened #10 "Description missing for `Sidebar`"
Function: `twentysixteen_widgets_init`
Line : 128
It would be good to add description rather than keeping empty.

[2015-08-29 08:27] wenthemes opened #11 "`since` parameter missing in doc of `twentysixteen_custom_header_and_background` function"
File: `custom-header.php`
Function: `twentysixteen_custom_header_and_background`

[2015-08-29 13:06] fklein-lu commented on #9
We should probably move these functions to `functions.php`.

[2015-08-29 13:09] sbrajesh opened #14 "editor-style.css using unprocessed sass variable"
In editor-style.css there are 2 unprocessed variables used. Looks like sass variables left from some previous code.
https://github.com/WordPress/twentysixteen/blob/master/css/editor-style.css#L335

[2015-08-29 14:12] dshanske opened #17 "HFeed should Only Appear on Archive Pages"
See _s https://github.com/Automattic/_s/pull/743

HFeed indicates a page where multiple hentrys exist. It should not appear on any single page.

[2015-08-29 15:02] war59312 commented on #6
"Starting on January 12, 2016, Internet Explorer 11 will be the minimum supported version to continue to receive security updates and technical support on Windows 7 and Windows 8.1."

Source: http://blogs.windows.com/msedgedev/2015/08/26/how-microsoft-edge-and-internet-explorer-11-on-windows-10-work-better-together-in-the-enterprise/

Just saying.. Perhaps only support IE 11 then?

[2015-08-29 15:35] maharzan opened #26 "Recent Posts widget with post date gap issue"
When there is Post Date in Recent Posts widget the gap between the title and date is larger than the gap between the list items.

Here is what is happening (first image) and how it should be (second image)

![recent-posts](https://cloud.githubusercontent.com/assets/883993/9562706/c0e46cc0-4e93-11e5-96a4-18225b98cdd6.png)

[2015-08-29 15:49] karpstrucking opened #28 "Replace get_template_directory() with get_stylesheet_directory() for require/include"
There's three calls I noticed in functions.php for requiring files from the `/inc/` folder. Any objection to a PR that replaces these with get_stylesheet_directory() for child theme over-ride potential?

[2015-08-29 15:55] maharzan opened #29 "Image caption in editor not italic as on preview"
Image captions in editor isn't italic as it is in the preview post

[2015-08-29 16:00] ihorvorotnov opened #30 "Non-latin fonts"
All 3 fonts used in the theme have only Latin (2 of them - Latin Extended) subsets. For any language with non-latin characters (for example, any cyrillic language - ukrainian, russian, bulgarian etc) it defaults to system serif / sans-serif which are completely different and things look awful, sometimes just break (because of different character widths and baselines).

[grumble_mode=on]

[grumble_

[2015-08-29 16:25] karpstrucking commented on #28
Nevermind, I just realized pretty much everything in these files is pluggable/filterable/unregisterable, making this a non-issue. Please delete and have me whipped.

[2015-08-29 16:25] #28 closed

[2015-08-29 16:42] karpstrucking commented on #9
this file is required from within `functions.php`, presumably to keep `functions.php` lean and code segmented. if anything, `custom-header.php` could be moved into `customizer.php` but is probably fine to leave alone as well.

[2015-08-29 16:44] ihorvorotnov commented on #30
Some screens to illustrate the problem:

![twentysixteen2](https://cloud.githubusercontent.com/assets/1066083/9563248/4cc53304-4e86-11e5-9af5-f3de1dbee817.jpg)

![twentysixteen1](https://cloud.githubusercontent.com/assets/1066083/9563249/531a0ce8-4e86-11e5-9ff6-1c8df9042ba7.jpg)

[2015-08-29 16:57] ihorvorotnov commented on #9
It should stay in a separate file, in `inc` folder. Not all users need it, removing support by simply commenting one line is a good solution used by many themes (and _s). It's an optional feature.

I tend to agree with @karpstrucking, moving Customizer features to `customizer.php` sounds logical.  However, as we build more and more features for Customizer, the file is going to be large and hard to

[2015-08-29 17:06] ihorvorotnov commented on #6
We should drop <IE8 completely and care about more useful stuff, like better default fonts (see #30).

[2015-08-29 17:18] ihorvorotnov commented on #7
The fact it's done this way in other default themes does not mean it's the right way to do. Only a tiny fraction of users / page views will end up in printing the page. Why load that extra kilobytes? There's a link's `media="print"` attribute to serve print-specific stylesheet only when user needs it.

[2015-08-29 17:21] mor10 opened #32 "Blockquote alignment causes issues at the top of posts"
On wide screens, when blockquotes at the top of a post are aligned left, they cover the entry-footer data:

![blockquote-alignment](https://cloud.githubusercontent.com/assets/1132200/9563395/314ba418-4e37-11e5-85de-611a268f9a43.PNG)

This is a standard issue with this type of layout and will likely affect the full-width image display as well.

[2015-08-29 17:25] SDavisMedia opened #34 "Needs word-wrap for long titles and text"
First noticed this with an actual post title:

![2015-08-29 at 12 12 pm](https://cloud.githubusercontent.com/assets/2359131/9563368/63278a28-4e47-11e5-92d1-871be45ad55b.png)

After looking a little deeper into it and realizing `word-wrap: break-word;` was being used in several places and just happened to miss the title, I took into account where it was being used and made some adjustments.

* It w

[2015-08-29 17:34] karpstrucking commented on #32
I wonder if this is intended to be some type of pullquote behaviour?

[2015-08-29 17:46] mor10 commented on #32
It is a pull quote, triggered by applying the `alignleft` class to the blockquote. It also works as intended. This overlap situation is caused by the way the page is marked up and the styles are applied: Both the entry-footer and the left-aligned blockquote are pulled out of the natural context of the page, and since they are not "aware" of each other due to this positioning, they overlap.

[2015-08-29 18:00] karpstrucking commented on #32
got it. front-end is admittedly my weakness - I'm not thinking of any way to reliably address with CSS. I suppose we could compare `.offsetTop` of `blockquote` elements to `.offsetTop+.offsetHeight` of `.entry-footer` and remove the `.alignleft` class with JS, but that seems zealous

[2015-08-29 18:07] mathetos opened #36 "Customizer Option for Sidebar positioning"
I like that the sidebar is on the right-hand side by default. It is an "aside" and reading starts to the left, so it makes sense. But reading doesn't start to the left for everyone. Should there be an option to have the sidebar on the left specifically for RTL readers? Of course it has benefits for LTR readers as well if they just have a preference.

[2015-08-29 18:09] mor10 opened #37 "entry-footer line artifact in long names"
When a long name is displayed, the hidden "/" separator drops down to the next line creating an empty line artifact in the `entry-footer` area. Patch to follow.

![line-artifact](https://cloud.githubusercontent.com/assets/1132200/9563630/596524a4-4e3e-11e5-8337-77d7c0d14318.PNG)

[2015-08-29 18:18] mor10 commented on #32
I've encountered this problem with other designs in the past. The only "clean" (read non-JS) version I've found so far is to use floats and clears in a non-positional way by embedding the `entry-footer` in the container with the `entry-content` and floating it naturally.

The larger issue here is that this same problem will appear when the full-width image solution is added. It is a design vs. cod

[2015-08-29 18:19] SeanChDavis commented on #37
Just to make sure you noticed, it happens for _all_ the elements in the byline. I just noticed the same thing at the end of a categories listing. :+1:

![2015-08-29 at 1 17 pm](https://cloud.githubusercontent.com/assets/2359131/9563654/8708a3c4-4e50-11e5-8d2f-fcbbe2097d39.png)

[2015-08-29 18:25] mathetos opened #39 "Add singular.php"
Since TwentySixteen is a showcase of what WordPress can do, should the new singular.php file be provided in the theme despite the fact that single.php and page.php are already provided?

[2015-08-29 19:06] mor10 commented on #37
My patch addresses the underlying problem which is the method of hiding the separator artifacts added for smaller screens.

[2015-08-29 20:32] mkrdip opened #41 "Create Language Folder & twentysixteen.pot file"
Just like other default theme, lets create a language folder which will contain translatable strings.

[2015-08-29 22:11] paaljoachim opened #43 "Boxed or fluid or a good option for both?"
What about an option inside the customizer for a choice of boxed or fluid layout?
Perhaps a page template.

[2015-08-29 22:35] paaljoachim opened #44 "Page template suggestions"
Doing some brainstorming here...

Page Template:
- Portfolio masonry.
- Portfolio standard.

- A nicely stylized blog. (Actually there can be a few different blog templates to choose from.)
- Archive pages.
- A few landing pages.

[2015-08-29 22:45] paaljoachim opened #45 "Should Post Formats be moved?"
I know there has been a lot of discussions about Post Formats.
I am just wondering what you think.
Should Post Formats instead be handled in future core plugins like Shortcake? (If my thinking is correct.)

[2015-08-29 22:59] karmatosed commented on #45
I think in this case having post formats is fine. We are a bit of a way off any universal replacement option yet - whatever that is or even if someone would use.

[2015-08-29 23:01] karmatosed commented on #44
I would suggest a default theme shouldn't have a lot of page templates. Adding is easy and most people don't want the same. It's probable better practice to provide exactly what the theme type needs. In this case a blog.

[2015-08-29 23:02] karmatosed commented on #43
My vote would be we don't add extra things beyond the colours. This isn't a framework we are creating or a starter theme.

[2015-08-29 23:04] karmatosed commented on #36
I'm firmly in the less options camp and as such would vote to not do this. Rtl in itself should reverse without an option.

[2015-08-29 23:06] mathetos commented on #36
Reversing without an option sounds great too. Happy to work on that if you'd like that supported.

[2015-08-29 23:15] ihorvorotnov commented on #44
@karmatosed well, WordPress is not only for blogs anymore and majority of new sites being built with WordPress are not blogs at all. I'm pretty sure you know there were a lot of discussions on this topic in last few years (but we still don't have a consensus though). I'm not saying we should add eCommerce templates or any other templates which depend on plugins, but at least some simple and common

[2015-08-29 23:17] karmatosed commented on #44
Absolutely, WordPress deals with a lot of types of sites. My point is this theme is aimed at a clear type. That type wouldn't have all those templates. We are not creating one theme for all cases here.

[2015-08-29 23:24] mathetos commented on #39
On closer look, it might be fairly elegant to do some conditional logic to check whether it's a post or a page and output the content-page or the content-single. Could do the same for post navigation then it's all handled fairly DRY and only one file instead of two.

[2015-08-29 23:31] ihorvorotnov commented on #44
Well, I kind of agree. This theme is nice, minimalistic, type-centric. The same we had with twentythirteen and twentyfifteen. And it's a great successor of twentyfifteen.

But!

It limits itself to blogs only out of the box. And people now use WordPress not for blogs, more and more. And this trend is not going anywhere. Looks like we're going to have a theme that would be changed right after insta

[2015-08-29 23:44] paaljoachim opened #47 "Add or not to add...."
Hey

Ideas will come up that are really good but for whatever reason are not be added to the official theme.
So what if an underground unofficial theme is created at the same time?
To showcase various things the official theme chooses not to showcase. It will show more variation of what can be done and can be used for further study for various users.

[2015-08-29 23:49] paaljoachim commented on #44
Since one can switch templates in an easy way in WordPress it seems kinda natural to at least have some templates included to show that the feature is there.

[2015-08-30 00:27] mor10 commented on #45
What is the current function of the post formats in the theme (have not tested). Do they do anything other than function as an added taxonomy?

[2015-08-30 00:29] mor10 commented on #34
In the current iteration, word-wrap is not applied to `entry-footer` resulting in categories and tags with atypically long single-word names spilling into the main content.

[2015-08-30 00:31] mor10 opened #48 "Meta: Change name of contributers.md to contributors.md"
Nitpicky, but necessary. The name of the contributors file has a typo. Should be contributors.md, not contributErs.md

[2015-08-30 00:40] SeanChDavis commented on #34
Just noticed that also in the comments area, word-wrap was applied to the comment content but not the entire comment area, leaving the post title hanging as it introduces the comments section:

![2015-08-29 at 7 39 pm](https://cloud.githubusercontent.com/assets/2359131/9565174/c5fe0486-4e85-11e5-9642-e7f6dfca1ce8.png)

Fixed with my commit above.

@mor10 Can you show me a screenshot of what you're

[2015-08-30 00:44] karmatosed commented on #47
I'm not totally sure this needs to be an issue. Anyone can make any theme they want. Some focus is needed to make sure we get this developed. I've tagged it for discussion, but will close for now.

[2015-08-30 00:44] #47 closed

[2015-08-30 00:49] karmatosed commented on #48
Good spot, I've updated.

[2015-08-30 00:49] #48 closed

[2015-08-30 00:50] SeanChDavis commented on #34
Honestly, I'm starting to feel like most of the implementations of word-wrap are too generic and its worthy of being in just one CSS rule. I don't see where it would ever hurt.

Thoughts?

[2015-08-30 00:58] karmatosed opened #49 "Begin Travis CI testing"
As brought up in https://github.com/WordPress/twentysixteen/pull/23

[2015-08-30 01:03] SeanChDavis commented on #34
It's universal in my PR now. No reason not to be that I can think of.

[2015-08-30 04:17] ihorvorotnov commented on #49
Voting +1 for Travis.

[2015-08-30 04:35] philiparthurmoore commented on #49
In preparation for discussion, I wanted to put some notes down about how I do this. Some of this may or may not be applicable to the WordPress project, but I think it would help discussion and any confusion for people who are not familiar with [Travis CI](https://travis-ci.org/).

As an example, I'll use [Subtitles](https://github.com/philiparthurmoore/Subtitles), since I develop it exclusively on

[2015-08-30 06:58] mathetos commented on #5
I submitted a PR with a functional RTL.css file here: https://github.com/WordPress/twentysixteen/pull/54

I didn't add tags in `styles.css` or `readme.txt` though.

[2015-08-30 19:00] SeanChDavis commented on #39
In addition to @grappler's comment on the PR, I think some of this needs to be rewritten anyway.

The switch statement is a bit much. 3 of the 4 cases use the same template file. Much simpler conditional logic could be used as there aren't many different possible cases.

Also, why is `$posttype` an empty string? It's empty throughout the entire switch statement. All post types are using the `defau

[2015-08-30 20:32] celloexpressions commented on #36
RTL would reverse automatically. However, it would be good to have a no-sidebar option similar to the one in twentyeleven, and that could also include a left-sidebar choice. This can be easily implemented with postMessage previewing in the Customizer, by toggling a body class, to optimize the UX. While we need to be careful with how many options are available, a few strong options that make signif

[2015-08-30 21:22] celloexpressions commented on #44
Who dictated that twentysixteen must be a blog-centric theme? I see no problem with shifting focus slightly to make it more broadly applicable. Especially considering that two of the previous three themes were aimed at blogs and the recent default themes seem to have all been developed internally within Automattic before being announced on make/core and opened to development, which perhaps led to

[2015-08-30 22:11] SeanChDavis commented on #44
I'm completely against anything too specific like a portfolio or eCommerce, as someone already mentioned. However, I definitely agree that page templates would be beneficial.

I think an About Page template fits the theme very well. I feel the same way about a Contact Page, though that would require plugin support (so probably not). A Full-width template would be lovely. I plan to build one for my

[2015-08-30 23:42] mathetos commented on #36
The "No Sidebar" option I think should be a page template (but that doesn't address posts/attachments at all). But having a global "Left/Right" Sidebar option does make sense to me. As far as "WHERE" that can happen in the Customizer, I'd vote on changing the "Site Identity" section to be "General Options" and keep Site Identity in there and then the Sidebar global.

Overall, still feels like an i

[2015-08-30 23:45] mathetos commented on #39
Good comments. I'll re-submit with it a bit cleaner.

[2015-08-31 00:20] mathetos commented on #39
I'll clarify that I've read that switch statements perform much better than if statements. But at this level I think the difference is totally inconsequential and you're right that it would really just be one if and an else.

[2015-08-31 00:32] SeanChDavis commented on #39
@mathetos Oh definitely I didn't mean that switch statements are bad. Sorry if it came off that way.

It's just that in this particular case, given that `get_template_part()` even has a built-in fallback system of its own, only one of two files are being called in all cases. So it was just overkill here.

[2015-08-31 03:19] kraftbj commented on #45
I'm still feeling out Twenty Sixteen so I might be wrong, @mor10, but it appears that Post Formats are included in the post meta info that is displayed out of the box.

Within the code, it calls `template-parts/content, get_post_format()`, so a child theme can specify post format specific templates via a `template-parts/content-[format-slug].php`. Nothing specific in stock (at this time).

[2015-08-31 04:52] SeanChDavis commented on #45
Yup, that's it. As far as styling goes, all of them (except for the Standard post format, of course) either have smaller entry titles or no [displayed] entry titles at all (Status post format). No other adjustments, though. https://github.com/WordPress/twentysixteen/blob/master/style.css#L2042

[2015-08-31 11:48] jeherve opened #57 "Image Post Format without Featured Image doesn't give any special treatment to the post image."
Steps to get started:

1. Create a new post and use the Image Post Format.
2. Insert an image into the post.
3. Do not define a Featured Image.

In parallel, do the following:

1. Create a new post and use the Standard Post Format.
3. Define a Featured Image.

When comparing the 2 posts, I find that the standard post (with its Featured Image) actually does a better job of showing off my image.

I

[2015-08-31 13:20] maharzan opened #59 "Category/Tag spacing bug"
At some point there is this little design issue. When there are two or more categories, it seems the padding between the categories list and tags list in entry footer become larger than when its only 1 category. Looks like this css is the issue

[code]

That padding appears on the next line which triggers that space.

Here is the screenshot that should be self explanatory.

![padding-issue](https:

[2015-08-31 13:23] SeanChDavis commented on #57
A discussion is underway about what to do with post formats in the core theme, if anything at all. You can see it here: https://github.com/WordPress/twentysixteen/issues/45

I think the results you found are just based on how the theme treats Featured Images, which is to let them be full-width in the content column above the post title. Then the image in the content itself displays as you would ex

[2015-08-31 13:28] karpstrucking commented on #59
This might be a duplicate of, or related to, #37

[2015-08-31 14:10] senlin opened #60 "[suggestion] add category.php"
I would like to suggest to add a separate category template instead of having to rely on the archive template which is far too general.

[2015-08-31 14:18] senlin commented on #34
@SDavisMedia don't bother, Core Dev finds this a _non-issue_ labelled as _wontfix_ already since Twenty Fourteen. See [ticket 25008](https://core.trac.wordpress.org/ticket/25008) on Trac.

[2015-08-31 14:30] SeanChDavis commented on #34
@senlin Wow. That is absolutely terrible.

[2015-08-31 14:35] grappler opened #62 "Include inline documentation"
As WordPress core has included full inline documentation. We should do the same for the default theme.

[2015-08-31 14:45] ianstewart opened #63 "A non-idiosyncratic screenshot"
Perhaps with a nice picture? My eye seems to be consistently drawn to the peculiar stuffed potato dumplings at the Renfield. :) Perhaps something that fades in the background? More "common" like last year? A photo of a place, a title related to that photo, and some more "abstract" text?

![](https://i0.wp.com/themes.svn.wordpress.org/twentyfifteen/1.3/screenshot.png)

[2015-08-31 14:50] ihorvorotnov commented on #60
Looks like a good candidate for #44. Do you have any ideas / cases how we can make it a bit different (better) from the archive template?

[2015-08-31 15:02] helen commented on #6
Browser support for admin and browser support for bundled theme don't necessarily have to match, as they have different goals. Browser support can also be defined in a lot of different ways. For the admin, we want to empower as many people as possible to publish, so we have some soft guidelines around older browsers (e.g. don't crash IE7 completely, things should be legible/navigable in IE8 and al

[2015-08-31 15:13] ihorvorotnov commented on #34
@SDavisMedia yeah, sometimes that english-only-speaking people just don't care about the rest of the world and call it 'too much of an edge case' :)

[2015-08-31 15:19] SeanChDavis commented on #34
I noticed! What an ugly ticket.

[2015-08-31 15:22] karmatosed commented on #62
I think the plan is Drew helps us with this so absolutely. For now, I'm closing this as it would happen when  merged.

[2015-08-31 15:22] #62 closed

[2015-08-31 15:23] karmatosed commented on #60
I'm closing this to have discussion all in one place about templates.

[2015-08-31 15:23] #60 closed

[2015-08-31 15:24] karmatosed commented on #59
I 'think' it's a duplicate. For now, I'm closing but we can review.

[2015-08-31 15:24] #59 closed

[2015-08-31 15:31] senlin commented on #44
I suggested a category template in the now closed thread #60

All twenty-x themes had a separate category template, except twenty fifteen. Apart from the whole discussion blog vs "other" use, there are plenty people that have different categories, for example news and events, and they want to show their posts as such.

Category description (if exists) comes to mind as does for example next/previou

[2015-08-31 15:34] senlin commented on #34
Yup, and it has been for 2 years now and conveniently nobody seems to care that much about these _edge_ cases like for example the entire Dutch language.

It's threads like that, that set real bad blood between Core Dev vs "the rest".

[2015-08-31 15:52] ihorvorotnov commented on #44
Sounds solid enough for me. On my new blog theme (which I'm building right now) I have categories 'Tips and Tricks' and 'Tutorials', for example. Posts in first category are short - a small description and code example. Posts in second category are long, sometimes they are series of posts, they have post thumbnails etc (only built-in features though, nothing from plugin territory). The archive pag

[2015-08-31 15:57] ihorvorotnov commented on #34
@senlin, Dutch and German, to name a few. I've developed websites for both of these languages for my clients. Before this, I thought Russian language has pretty long words, then I met the Dutch language...

[2015-08-31 16:08] senlin commented on #34
:)

I remember a ticket about the menu sidebar in the Dashboard, comments or something is Russian is super-long. Dutch (and indeed also German) have these really silly long words.

Unfortunately Dutch, German and Russian and probably a few more languages are not on the high priority list of WP Core Dev. As long as "normal" English fits, it's good enough...

[2015-08-31 17:01] ihorvorotnov commented on #34
Well, if we talk about russian, we should at least add ukrainian, belorussian and bulgarian right away. All are cyrillic and have a lot of long words. Recently I've [asked Automattic's @kovshenin](https://twitter.com/kovshenin/status/637672023305646080) about the number of WP installs in russian. Here are the numbers:

It's just one language. Just for 4.3 released recently (and we know how many we

[2015-08-31 17:11] senlin commented on #34
I know Konstantin (@kovshenin) too, pity that not even he can convince core of the importance of word-wrap.

[2015-08-31 17:14] ihorvorotnov commented on #34
There's also @SergeyBiryukov and @Rarst

[2015-08-31 17:56] ianstewart commented on #34
The spirit of the decision against wrapping titles in the previous ticket seemed to me that it's a not-great solution in a _whole bunch_ of languages. The example of antidisestablishmentarianism seemed like a good example of the cure being worse than the disease. That said, in its current iteration Twenty Fifteen  looks nice on the desktop with some real (but rare) "long" (relative to English, I g

[2015-08-31 18:07] ianstewart commented on #34
Here's an example of the above text on a smaller screen.

![](https://cldup.com/6r-hxfkLqI.png)

And here, with word-wrap.

![](https://cldup.com/btZMsrTRxV.png)

I'd argue, similar to Lance in the ticket linked above, that while word-wrap does indeed solve the problem of "letters in a word not appearing on the screen" that it isn't a _good_ solution. Both are broken. The "fix" here just seems to

[2015-08-31 18:17] ianstewart commented on #34
If anyone else, like me, is now fascinated by this, this chart of word-length distributions across a few different languages is really cool:

http://www.ravi.io/language-word-lengths

[2015-08-31 18:26] SeanChDavis commented on #34
Definitely interesting. Thanks for that last link, though. Super useful.

I do agree that neither solution is perfect but I think there's a fundamental difference between the two... one breaks the layout [and possibly even hides content] while the other one does. It seems for the last few years, there hasn't been a stand against leaving it "broken" so I don't see how leaving it better (I do think

[2015-08-31 18:36] ihorvorotnov commented on #34
@ianstewart I agree with your arguments, and even about being an edge case, for any language. And most of the times these long words can be just replaced. However, I don't agree on solution. Leaving them intact actually breaks the things. Wrapping is not a perfect solution, but it prevents things from breaking.

[2015-08-31 19:27] SergeyBiryukov commented on #34
Actually, we've fixed all known [language-specific issues with longer strings](https://core.trac.wordpress.org/query?resolution=fixed&summary=~longer+strings&summary=~more+space&summary=~count+doesn%27t+fit&summary=~German+translation&summary=~Russian&summary=~ru_RU&col=id&col=summary&col=reporter&col=owner&col=type&col=status&col=priority&col=milestone&order=id) in core over the years, and [quite

[2015-08-31 19:36] ianstewart commented on #34
Here's an example using the CSS hyphens property supported in Firefox, IE, and Safari.

![](https://cldup.com/PSOi5dm4_K.png)

![](https://cldup.com/Xoa1SEsIva.png)

http://caniuse.com/#feat=css-hyphens

[2015-08-31 19:41] SeanChDavis commented on #34
Ugh... that's so ugly. Can of worms we've got here, I see.

[2015-08-31 20:04] ihorvorotnov commented on #34
Hm.. I like hyphens.
_How could I forget about hyphens? Adding to my toolset._

[2015-08-31 22:17] westonruter commented on #49
:+1: for Travis checks.

I've added comments on the PR for improvements to the PHPCS check, as well as adding JSHint and JSCS checks.

[2015-08-31 22:32] tywayne opened #67 "Incorrect comment for `register_nav_menus` in functions.php"
Comment states it registers one location, but actually registers two.

[2015-08-31 23:40] mkrdip opened #70 "Add styles for code tag"
By default `<code>` selector has no CSS style defined. Screenshot:

![image](https://cloud.githubusercontent.com/assets/3819579/9593012/764e44f4-506b-11e5-88f9-cc4b99819b43.png)

It's nice to have a style for the `<code>` selector with a background color & some padding. Screenshot:

![image](https://cloud.githubusercontent.com/assets/3819579/9593038/bc0da8f4-506b-11e5-939a-f791264083fb.png)

[2015-09-01 00:47] senlin commented on #34
@ianstewart you say that it will never work, but the thing is that you cannot read those languages where you make long words of, so to you it seems unreadable and ugly.

The Dutch word _meervoudigepersoonlijkheidsstoornis_ actually is perfectly readable with the hyphens (although I understand that hyphens are not used by Chrome).

[2015-09-01 01:22] senlin commented on #34
@SergeyBiryukov

Not sure why you would bring up a completely different topic here? Are you now trying to justify to leave something broken, because **you did so much other stuff already**?

You know what, forget that I chimed in, this is so typical behaviour of you Core people.

Done with this shit!

[2015-09-01 01:31] dshanske opened #72 "Improper Microformats for Excerpt"
The microformats class for an excerpt is entry-summary, not entry-intro.

http://microformats.org/wiki/hatom

[2015-09-01 01:35] dshanske opened #73 "Author Biography Template Should be Marked up as an HCard"
http://microformats.org/wiki/hcard

HCards are recognized by a variety of sites and the formatting for them appear in various parts of WordPress.

[2015-09-01 01:40] philiparthurmoore commented on #49
Saw that. Thanks so much for your comments @westonruter. Great stuff.

[2015-09-01 02:19] philiparthurmoore commented on #34
Outside of maintaining [_s](https://github.com/Automattic/_s), this is the first time I've ever interacted with so many WordPress people on GitHub. On Trac tickets are harder to find and harder to take part in, and the tone is, at times, somewhat contentious.

One thing I love about GitHub so much is that it feels light, positive, and collaborative, so much more so than Trac. As a contributor, I w

[2015-09-01 03:30] ianstewart commented on #34
I probably should have noted that I like the hyphens. Like @ihorvorotnov I also forgot about them.

[2015-09-01 03:52] peterwilsoncc commented on #6
@helenhousandi does the WordPress project have a preferred source for global stats? The big few providers differ somewhat.

My inclination is the check against IE8 and above; with an IE8 pass being not crashing. All Windows desktop and server environments can upgrade to IE8, there are some POS systems stuck on IE7.

Depending on resolution of this ticket, blocks with CSS3 selectors mixed with <= I

[2015-09-01 07:07] metodiew commented on #72
Does it mean that all  `entry-summary` instances needs to be replaced with `entry-intro`?

[2015-09-01 08:22] pattonwebz opened #77 "Folder structure for minified scripts and/or styles"
I would like to discus what the file and folder structure might look like if the theme included minfied versions of styles and scripts as well as non-minified versions when as the theme progresses.

It may not be the best time to include these right now but closer to completion I think that minified versions should be included for sure.

With merge of PR #61 all files in the theme are currently no

[2015-09-01 09:32] iamtakashi commented on #5
Thanks for the PR but as grappler said in the PR, it'd be better to leave this until much later on the development because the theme's CSS is expected to change.

[2015-09-01 10:21] dshanske commented on #72
The other way around.

[2015-09-01 10:33] karmatosed commented on #77
I don't really see a new structure needed for minified. We can have both in the same file. I absolutely do not think we need to minify style.css. Only one we could is .js.

[2015-09-01 10:44] karmatosed commented on #49
I'm going to be super transparent here with my feelings. I think this test is overkill for the default theme. I totally understand in theory what it is fixing, but it's not something I use in my own theme development or feel comfortable working with. I'm cautious to add yet another hurdle to a repo. I'm very cautious to have something in this which I do not understand every line of.

In saying the

[2015-09-01 10:51] metodiew commented on #72
Thanks @dshanske! I shouldn't have commented before the coffee :)

[2015-09-01 11:07] pattonwebz commented on #77
Agreed that if files were minified it would be ideal to include them in the same directory alongside the original.

If .js files were to be minified should they first be combined and then that file minified into `scripts.min.js` or similar? Or should they be minified and enqueued individually?

[2015-09-01 11:22] philiparthurmoore commented on #49
This same method of testing has been used in previous default themes, but manually.

I don't find this a compelling enough reason to avoid a tool that will massively benefit the theme. It's literally two files in the repo, and we're done. It takes the work out of manually checking every single PR for syntax errors, regressions, and standards errors.

Every line in the PR is commented with an expla

[2015-09-01 12:19] ihorvorotnov commented on #49
Exactly. The Great Equalizer)

[2015-09-01 12:29] ihorvorotnov commented on #77
@pattonwebz People use a lot of different plugins to handle concatenation and minification. Many caching plugins have this feature built-in. I believe we should not force any concatenation (this is for user to decide). As for the minification - in my development I always have both versions (in two folders - dev and min), enqueuing proper file depending on environment (non-minified for local and de

[2015-09-01 12:39] helen commented on #6
@peterwilsoncc I don't have one, and I don't know of a declared preferred source. I don't think global stats mean a whole lot, FWIW - for sites/themes it really should be dependent on the stats of the site itself, for core it's taking into consideration the types of users who are on these older browsers, e.g. if IE8 usage is low globally but a large percentage of its own usage is public sector (li

[2015-09-01 12:45] iamtakashi commented on #30
If there are characters in a language that are not supported by each font, it should be disabled through translation to avoid mixed typeface in an element. See the inline comments to translators in `twentysixteen_fonts_url()`.

The theme shouldn't add any more Google fonts but I like the idea of adding some system fonts as alternatives for those languages.
- Body font - I'd add Georgia as the seco

[2015-09-01 12:52] ihorvorotnov commented on #30
I've seen the comment. This way we get default system fonts, and that's the core of the problem actually.

I don't say to add more, I'm talking about _replacing_ with alternatives. There are lots of Google fonts that have cyrillic, vietnamese, thai and other non-latin subsets.

What about Win users? Linux? Helvetica / Helvetica Neue fonts are missing in Windows...

[2015-09-01 13:04] iamtakashi commented on #30
I think if the fonts are off, the issue you illustrated won't happen though?

No? I thought you are suggesting to add alternatives by looking this comment.

Yes, that's correct. It's just like a progressive enhancement. I believe Arial will be used in Windows when we use `sans-serif`.

[2015-09-01 13:15] MonikaTS opened #81 "Screen looks like a notice about someone's death"
at Austria we use a big black border for notices about someone's death. I was really shocked as I've seen the screen of twenty sixteen the first time.
The bold black headlines and bold black borders complement this.

I know this is the background, but the initial visual impact was shocking.
![screenshot-twenty-sixteen_mini](https://cloud.githubusercontent.com/assets/12694170/9605124/189adfec-50bc-

[2015-09-01 13:44] iamtakashi commented on #43
If I'm understanding correctly this "fluid layout" means here, with the layout, characters per line can be too many to in some cases with wide screens, and that would negatively impact the readability. Also it's generally difficult for users to make it look good with medias that are constrained with `$content_width`.

Although some users might find it useful in some case, I don't see this option i

[2015-09-01 13:44] #43 closed

[2015-09-01 13:53] ihorvorotnov commented on #30
The default serif (body) is much smaller than Merriweather. Check the 4th paragraph on 2nd picture. It's harder to read in this size, and line-height is too loose for this font-size. This is part of the issue.

I'm _not_ offering to _add_ another _Google fonts_, but to (possibly) _replace_ currently selected fonts. Or, if we're not going to replace Montserrat and Merriweather, add alternative _sys

[2015-09-01 13:57] ihorvorotnov commented on #30
However, Merriweather is not really an issue. The font itself has non-latin subsets, and, [according to author](https://ebensorkin.wordpress.com/2015/02/06/the-updated-free-merriweather-is-finally-available-from-font-squirrel/), it might be available via Google Fonts soon. I wonder if there's a way to force Google to update the font...

You can check it here https://github.com/EbenSorkin/Merriweat

[2015-09-01 14:24] iamtakashi commented on #30
I think we both agree that my suggestion above is the best thing we can do now for those languages, then :)

Let's hope Google updates Merriweather soon!

[2015-09-01 14:29] ihorvorotnov commented on #30
Yes, I agree.

`Montserrat, Helvetica Neue, sans-serif`
`Merriweather, Geogria, serif`
No changes for monospaced font.

Right?

I'll try to force them by pinging wherever I can, starting from their GitHub repo :)

[2015-09-01 14:48] iamtakashi commented on #30
Correct. If you want to make a PR, go for it.

[2015-09-01 14:50] ihorvorotnov commented on #30
Ok, doing it. Thanks.

[2015-09-01 14:59] mtomas7 commented on #77
"the theme package in WP.org repo should have only minified files" - it is against WP.org Theme Check team rules - every minified version should include real version.

[2015-09-01 15:06] mathetos commented on #5
No worries, makes sense.

[2015-09-01 15:13] iamtakashi commented on #9
Currently `custom-header.php` has just under 100 lines. I personally don't mind to move it to `customizer.php` if we want to keep the logic some mentioned.

[2015-09-01 15:15] iamtakashi commented on #63
@ianstewart Yes, we can make it more abstract. Are you thinking with a featured image?

[2015-09-01 15:20] iamtakashi commented on #81
I must admit that I didn't know about it.

However, this is a design choice and you can simply change the colour.

[2015-09-01 15:20] #81 closed

[2015-09-01 15:35] davidakennedy opened #82 "Add Post Title to edit_post_link for Improved Accessibility"
One small tweak we could make to improve the accessibility of Twenty Sixteen is adding the post title to the `edit_post_link` and hiding it with `screen-reader-text`. We do this in a few other spots to provide more context to link text, and the case would be the same here.

Thoughts?

Pull request incoming. :smile:

[2015-09-01 15:45] ihorvorotnov commented on #9
@iamtakashi `customizer.php` is over 1000 lines already.

[2015-09-01 15:47] arryaas opened #83 "Wrong Number of location above register_nav_menus on functions.php"
There is Wrong Number of location above register_nav_menus on functions.php in line number 71

[2015-09-01 15:49] ihorvorotnov commented on #77
@mtomas7 my bad, I meant minified files should be enqueued by default, without any additional dev/prod switches like I use in my projects.

[2015-09-01 15:51] ihorvorotnov commented on #83
There's a PR https://github.com/WordPress/twentysixteen/pull/68 and duplicate issue #67

[2015-09-01 15:53] #83 closed

[2015-09-01 16:11] arryaas commented on #83
@ihorvorotnov , @iamtakashi can I fix this issue? I am not being able to pull request

[2015-09-01 16:17] ihorvorotnov commented on #83
@arryaas What do you mean by fixing this? There's already a PR #68 with a fix. It will do the job once the PR is accepted by @karmatosed

Here's the fix: https://github.com/tywayne/twentysixteen/commit/5f8b9eb55101afe0538933d29812d175c02dae27

[2015-09-01 16:20] arryaas commented on #83
@ihorvorotnov I think wp_nav_menu() is used in four locations. Two on there footer and two on header . Sorry If am mistaken.

[2015-09-01 16:30] arryaas opened #85 "Function ending comment missing"
Function ending comment are missing on different file.

[2015-09-01 16:33] ihorvorotnov commented on #83
@arryaas the same menu can be used many times in templates. For example, you can add a menu widget to your sidebar and have one more instance of the same nav menu. But the `register_nav_menus()` actually registers 2 menu locations - `primary` and `social`. I guess you're misguided by the "location" term.

[2015-09-01 17:07] iamtakashi commented on #85
Can you be more specific and providing details when you make an issue? This is not very helpful at all.

[2015-09-01 17:31] arryaas commented on #85
Like in some function there is comment at closing:

[code]

but on some there are not:

[code]

Sorry if it is not helpful.

[2015-09-01 17:34] arryaas commented on #83
@ihorvorotnov
May be my mistake I just compared with twentyfifteen functions.php. There is written 2 location but used on 1 file 2 times.

[2015-09-01 17:41] ianstewart commented on #63
Maybe a post image instead of a featured image since it'd likely be the most common scenario (for a post with an image.)

[2015-09-01 17:59] ihorvorotnov commented on #85
Well, that's pretty subjective thing, IMHO. How long / complicated a function should be to have a closing comment? Adding it to every function is obviously an overkill.

[2015-09-01 18:01] iamtakashi commented on #85
I meant the overly generic description about the issue wasn't helpful. You could at least specify file names and function names you see the issue so that we can look at it. Otherwise we need to review every functions in every files, don't we?

[2015-09-01 18:04] westonruter commented on #49
A major point of having these automated code quality checks is to make the job of the committer/merger _easier_ :smile: They can reduce a ton of manual back-and-forth with the contributor and avoids the reviewer being the “bad guy” since the contributor can just shake their fist at Travis instead.

[2015-09-01 18:05] iamtakashi commented on #32
@mor10, have you managed to replicate this issue? The over-hanging image solution checks if the image position is below the bottom of post meta.

[2015-09-01 18:05] arryaas commented on #85
@iamtakashi yes you are absolutely right. I am new at this and am learning. Also want to make tiny contribution here.

and, I have a question, should there be @ since  in function comment or not?

[2015-09-01 20:03] iamtakashi commented on #26
Thanks for the report and the PR but I'm not crazy about the possibly randomly picked the value `1em`. Also it's best to apply the new style to the date in RSS widget also. I'll add a new PR here.

[2015-09-01 21:25] iamtakashi commented on #72
@metodiew, have you tested before and after of your change? `.entry-intro` is supposed to have different style than `.entry-summary`. I assume, by looking at your commits, you didn't realised about it.

I'll work on a PR.

[2015-09-01 21:33] metodiew commented on #72
Well, at first I didn't noticed the difference, but I've tested it one more time now and I saw a few issues/differences, not sure what happened the first time...
I don't mind closing the PR if it's far from what needs to be updated here :)

[2015-09-01 21:47] dshanske commented on #72
This is why styles shouldn't be attached to Semantic markup such as microformats. Better to keep them separate.

[2015-09-01 21:57] mor10 commented on #32
How do you trigger the full-width image display within post content? I
assume there's a class or something?

In medias res on my paranoid android
On Sep 1, 2015 11:05, "Takashi Irie" notifications@github.com wrote:

[2015-09-01 22:25] iamtakashi commented on #32
@mor10, No custom class needed. Upload an image equal or wider than 840px wide image and add it to the content with full or large size. This should be documented but let's leave it as another issue.

[2015-09-01 22:28] ihorvorotnov commented on #30
PR is here. However, after some reading I see that for wider fallback on OSX (and iOS) people use `"Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif`.

[2015-09-01 22:35] peterwilsoncc commented on #6
Thanks Helen, I'll work on the basis of IE8+ for any further patches.

[2015-09-01 23:22] maharzan commented on #26
How do you come with those numbers?

[2015-09-01 23:26] mor10 commented on #32
@iamtakashi I see. This doesn't happen with the Theme Unit Test data, but if you add a new image, the wide function does kick in and works properly for full-width images.

Having glanced at the JS that makes this happen I'd assume a similar function (or possibly the same) could be used to avoid the blockquote alignment issue in this ticket.

[2015-09-01 23:43] iamtakashi commented on #26
The unit of the baseline grid is 7px in this theme.

[2015-09-02 00:05] mor10 commented on #6
Based on WordPress' global reach and the fact that outside North America, Europe, and the more developed areas of the world, most people are still stuck with ageing technology and slow internet connections, phasing out IE8 is not advisable. There are still far too many people who rely on WordPress that are on computers with IE8.

[2015-09-02 01:55] ihorvorotnov commented on #6
According to [this 2014-2015 stats](http://gs.statcounter.com/#all-browser_version_partially_combined-ww-monthly-201408-201507) I see IE8 phasing down from 3.34% to 1.55% **globally**. IE9 and IE10 are less than 1%.

Let's see the stats for some "less developed areas":

**Africa**. IE8 = 1.11%
**Antarctica**. IE8 falls into "Other category" :) (which is 1.79% combined)
**Asia**. IE8 = 1.63%

Let's

[2015-09-02 03:21] tywayne opened #90 "Typo in doc for twentysixteen_categorized_blog()"
[Line 197](https://github.com/WordPress/twentysixteen/blob/master/inc/template-tags.php#L197) of template-tags.php
@return bool True ~~of~~ if there is more than one category, false otherwise.

PR incoming.

[2015-09-02 03:35] tywayne opened #92 "Unnecessary value in args array for get_categories() in twentysixteen_categorized_blog()"
In template-tags.php, the function `twentysixteen_categorized_blog()` uses `get_categories()` and passes an array of args. One of these values is `'hide_empty' => 1,` however, the default value for `hide_empty` is 1, thus is unnecessary.

[2015-09-02 05:11] maharzan commented on #26
Thanks.

[2015-09-02 10:08] karmatosed commented on #85
@arryaas knowing which file and having a PR would be great for this.

[2015-09-02 10:09] karmatosed commented on #82
I've merged this, thanks.

[2015-09-02 10:10] #82 closed

[2015-09-02 10:12] #14 closed

[2015-09-02 10:12] #26 closed

[2015-09-03 00:24] iamtakashi commented on #70
@mkrdip, I like the idea but your PR is incomplete.
- The unit for the padding should be `em` in the main stylesheet.
- No correspondence change in the editor stylesheet.
- The background color should change accordingly with the color scheme option.

I'll work on a new patch.

[2015-09-03 02:35] iamtakashi opened #96 "Add letter spacing to uppercase text"
I've been meaning to do this. Uppercase text currently a little condensed and I'm going to loosen the tracking.

[2015-09-03 02:53] maharzan opened #98 "Sticky post with no title and featured image"
When there is no title and no featured image in the sticky post, we cannot go to that individual post as there is no date and the "featured" text isn't linked as well. Not sure how to fix but maybe we can add a link to Featured text or add the date back. maybe an edge case..

[2015-09-03 05:40] maharzan opened #99 "Border on Menus with Submenus enhancement"
I thought the boxy border didn't go well with the menu items with submenus (on the mobile nav). It looks odd on the overall neat design.

[2015-09-03 06:20] maharzan opened #101 "Was there any reason for post format titles to be smaller than the standard post titles?"
It looks like post formats are a part of standard posts because of the font size differences..

[2015-09-03 09:35] iamtakashi commented on #99
@maharzan, thanks for your suggestion but I think it's better to leave as it is.

The reason for the side borders is to help to communicate with users that the arrow and the rest of menu item do different things. The arrow displays child menu and the rest takes you to the page. Without the borders, it could look the entire menu item shows child menu on tap, similar to how the desktop menu works.

[2015-09-03 10:01] iamtakashi commented on #101
The reason is to take away focus from the title to make the content prominent.

[2015-09-03 10:11] iamtakashi commented on #98
I think this is really an edge case and it doesn't worth to complicate the logic of post meta. The whole content is visible on index and people can access to comments with a comment link anyway.

Twenty Fifteen works the same way and AFAIK there isn't a complain about it.

[2015-09-03 11:42] iamtakashi opened #102 "Apply overhanging treatment only to full size images"
The overhanging treatment works well with a newly uploaded `.size-large` image, but there is an issue if the image was added when a different theme was activated. This is because of the `width` attribute and the value comes from `$content_width` of the previous theme.

The image below was uploaded when Twenty Twelve was activated. (The `$content_width` is `625`px in Twenty Twelve)

<img width="535

[2015-09-03 12:03] karpstrucking commented on #99
couple alternatives for consideration:

![image](https://cloud.githubusercontent.com/assets/999261/9657786/12227588-5212-11e5-8534-e0c76a56227e.png)

![image](https://cloud.githubusercontent.com/assets/999261/9657775/0112826a-5212-11e5-85e7-2f12973c7b51.png)

[2015-09-03 12:10] MonikaTS commented on #99
The second thing I've done in my test child theme is to alter this arrows to "+" and " -".
I have to realize that most of my customers do not click arrows, because they do not know whats behind or fear them or ...?
 But they are willing to click "+" for open something and "-" to close something.

[2015-09-03 13:20] iamtakashi commented on #99
The "plus" and "minus" icons are certainly good alternatives but I have not seen a test result that shows these icons actually perform a lot better than a chevron or a triangle.

This is <a href="https://viget.com/inspire/testing-accordion-menu-designs-iconography">the closest study</a> I know but it concludes there is no big difference between icon choices.

[2015-09-03 13:46] MonikaTS commented on #99
maybe :-) but I had to alter  button class="dropdown-toggle"  expand child menu.... because of Google guidelines "Mobile usability" and something more (meta results ie.) so I alter the icons too.

[2015-09-03 14:04] iamtakashi commented on #99
Interesting. If you have suggestions and even better with support material or data, please raise an issue and add a PR.

[2015-09-03 14:22] MonikaTS commented on #99
oh my Goodness :-) (((( thats why I hate github)))
 I will try, because of you and your theme. Ok I hate the screenshot I will not see a "notice of sometones death" in my WP :-) but I fall in love with your content organisation. You are playing with vertical lines in a beautiful way.
I dont't know how to "raise an issue or add a PR (=?) ...
But not this day, deadline is waiting , but I will try :-

[2015-09-03 14:37] iamtakashi commented on #99
OK, a PR is not necessary, if you aren't comfortable making. It'd be helpful if you can just raise an issue with your idea to solve the issue. Also if you have supporting material (like the guideline from Google you mentioned), please add a link to it please. But no rush :)

Thanks for the kind words.

[2015-09-03 15:18] maharzan commented on #99
Yea, you might be right on that the box distinguishes its action but the design... I am not sure! It just looks totally off with the rest of the menu items..

[2015-09-03 15:19] maharzan commented on #98
Cool. I thought so.. Sometime back this was a major issue and themes wouldn't pass on wordpress.org. :-)

[2015-09-03 15:19] #98 closed

[2015-09-03 15:21] maharzan commented on #101
Hmm.. Is there any post format specific design on this theme? I didn't see any. The small titles make the whole thing look like its a part of the top "standard" post on archive pages. esp, when you have one standard post on the top and all post formats in the bottom. The test data especially makes this prominent. I was thinking how long that post was...

[2015-09-03 15:30] maharzan opened #104 "Margin on the right"
While resizing, I noticed there was a certain window of width where there is margin on the right side. The header, menu and footer menu seems to extend full width but the content seems to cover like 75%. Is this done deliberately for "readability" ?

![space](https://cloud.githubusercontent.com/assets/883993/9662777/cffe7304-5280-11e5-948d-16f3ad4b2533.png)

[2015-09-03 15:34] iamtakashi commented on #104
Yes. That's correct.

[2015-09-03 15:44] iamtakashi commented on #101
- A post that has a format displays tis format in the meta.
- Small titles
- Status format hides the title.

That's it. There is no special design treatments in this theme. We have another discussion about the fate of post formats in this theme, #45. I'm closing this because kind of duplicated.

[2015-09-03 15:44] #101 closed

[2015-09-03 16:07] iamtakashi commented on #99
@karpstrucking, thanks for your suggestions. Both look better than without borders and here is what I think about them.

**Top:** I like the subtle border but I'm not sure if the button is going to be visually loud enough as a button when the parent menu item spans two lines.

**Bottom:** I have considered this option before but I've dropped it because it introduces another design pattern in the t

[2015-09-03 21:24] tywayne opened #105 "Redundant selectors in bigImageClass() of js/functions.js"
Inside the `.each()` iterator on found images, we have redundant `$( this )` selectors, even though we cached it in the `img` variable. While the performance costs of creating a few more instances of a jQuery object here probably won't make much difference, it is best practice to use the stored instance.

Also, in the same `bigImageClass()` function, we use the `img` var as a selector like `$( img

[2015-09-03 22:26] tywayne opened #107 "Inconsistent spacing in multi-line var declarations across js files"
I know "whitespace only" code refactoring changes for core files are discouraged, but this isn't in core yet so I felt it should at least be noted.

Some multi-line var declarations use spaces to indent the next line, while others correctly use tabs (according to the [Javascript coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/#declaring-variabl

[2015-09-04 09:56] #104 closed

[2015-09-04 16:08] ianstewart commented on #6
A sum up of the soft guidelines above.

IE7

-don't crash IE7 completely

IE8
- things should be legible/navigable in IE8
- and also not crash it
- but don't have to look "pretty"

Could use some screenshots/GIFs here of the what that looks like for Twenty Sixteen. And a confirmation that we're not crashing IE7. :)

[2015-09-04 16:20] ianstewart commented on #9
The consensus in core-themes was to just bring this into customizer.php:

https://wordpress.slack.com/archives/core-themes/p1441383329000269

[2015-09-04 16:44] ihorvorotnov commented on #49
Here's a brief discussion during today's meeting, https://wordpress.slack.com/archives/core-themes/p1441383705000303

@philiparthurmoore @westonruter Seems like we need to add some screens and examples of Travis CI usage. I'll try to take care of this tonight. You can add anything that will make the Travis CI adoption easier.

[2015-09-04 17:01] karmatosed commented on #49
This came up in the chat and what would be great to know is the following:
- What exactly line by line is it testing? We should be getting an agreement on that not just accepting a file or even what it has in.
- What process does it do? Travis isn't known by everyone so being clear in a non-technical word is great.
- What happens when things break and how can anyone involved fix this?

We don't ne

[2015-09-04 17:04] #72 closed

[2015-09-04 17:04] karmatosed commented on #5
We discussed this in this week's meeting. This is now a scheduled task to add at the final stages. We do this because the CSS may change.

[2015-09-04 17:11] karmatosed commented on #7
This came up in the weekly meeting, @iamtakashi is going to research and find out why this was done in that way in previous themes.

[2015-09-04 17:12] karmatosed commented on #10
The PR needs escaping added in. @davidakennedy is going to look at this.

[2015-09-04 17:14] #96 closed

[2015-09-04 17:22] #102 closed

[2015-09-04 17:24] #70 closed

[2015-09-04 17:35] ihorvorotnov commented on #7
The Codex [says](https://codex.wordpress.org/Styling_for_Print#Creating_Print_Styles):

I've Googled for some best practices in the real world, however, there's no consensus over this topic. Both options are valid, and the Codex recommendation sounds pretty logical to me. If it's just a few lines of simple changes - put it in the main stylesheet. Otherwise go with a separate file.

[2015-09-04 17:40] mendezcode commented on #49
The lines in the `.travis.yml` config file do not test anything. They just tell which PHP version to run, which commands to run to prepare the testing environment, and which commands to run to perform the actual tests.

It's similar to a task runner in essence, just like Makefile or Grunt/Gulp, but for running tests. These tests can be used for quality control before merging a Pull Request, for ex

[2015-09-04 17:56] ihorvorotnov commented on #49
@karmatosed That's the case when a picture is worth a thousand words. Just to make that black box less of a black :) Or even a screencast, as suggested by @philiparthurmoore on Slack, will guide you (and anyone new to Travis) through this.

About the checks and that _unknown_ `travis.yml` file. What it does, briefly:
- sets up the testing environment
- installs WordPress and the theme
- installs c

[2015-09-04 20:36] mor10 commented on #59
It's a duplicate. https://github.com/WordPress/twentysixteen/pull/38 fixes this issue.

[2015-09-05 00:23] iamtakashi commented on #105
The PR looks great. Thank you! Can you add you **WordPress.org** username to the CONTRIBUTORS.md?

[2015-09-05 01:05] #67 closed

[2015-09-05 01:08] iamtakashi commented on #105
nvm. Your name is now in with the fix for #67.

[2015-09-05 01:10] #105 closed

[2015-09-05 01:14] #90 closed

[2015-09-05 07:27] MonikaTS opened #111 "dropdown-toogle and usability on mobile devices (googles guidelines)"
the easiest way
style.css line 818
.main-navigation .menu-item-has-children > a {
	/*padding-right: 48px;*/
	margin-right:48px;
}

for desktop
style.css line 2933
	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
		margin-right:0;
	}

![twenty-sixteen-dropdown-toggle](https://cloud.githubusercontent.com/assets/12694170/9698275/3f8d940a-53af-11e5-8dff-3df70f925b9d.png

[2015-09-05 10:44] karmatosed commented on #111
HI @MonikaTS, can you explain why you are suggesting this? Unfortunately your image linked was not in English so I am having trouble working out what you are suggesting.

[2015-09-05 10:51] iamtakashi commented on #111
I've done the test myself. In English Google says...

![screen-shot-2015-09-05-at-11 47 07](https://cloud.githubusercontent.com/assets/908665/9698915/49a4de0c-53c4-11e5-8804-912c25593f7a.png)

I'll work on a patch.

[2015-09-05 11:06] MonikaTS commented on #111
thanks @iamtakashi  I can't take screens in englisch
I have no time to repair  "failure  class url fn" => entry-footer with many categories and tags  this weekend, but I will do it next week

[2015-09-05 12:25] Nikschavan opened #112 "Sub menu overflows out of #page, adds a horizontal scroll to the window"
When the last menu item has a submenu, it overflows out of the viewport, and adds a horizontal scroll o the page

![vertical scroll](http://i.imgur.com/aA5A7h8.jpg)

[2015-09-05 16:57] Nikschavan opened #114 "Post navigation shows black square when on the last page"
![Black Square](http://i.imgur.com/nvjOPYy.jpg)

[2015-09-05 17:47] ihorvorotnov commented on #114
Discussed in #76. Closed, because it's a design pattern:

[2015-09-05 17:53] iamtakashi commented on #112
This feels like a design limitation of the menu.

Hiding child menus with `overflow: hidden` is the cure being worse than the disease. Because child menu won't be accessible (if there are more than 3 levels) and the scrollbar only appears when you hover the item anyway.

Reversing the flow to the left will be really weird and it'll require (most likely) JS and I don't think it's worth it.

This is

[2015-09-05 18:02] iamtakashi commented on #114
Yes, that's correct. But it'd be great If we can come up with an elegant solution to make the `.prev`link to the right-end on the last page though.

[2015-09-05 19:08] ihorvorotnov commented on #112
Well, it's worth for large sites with mega-menus, like eCommerce etc. However, for a blog theme it's not, I totally agree.

[2015-09-05 19:13] ihorvorotnov commented on #114
That was the first idea I though of. These squares are ::before elements, can't figure out yet how to remove that last one if there's no more pages. Will look into it, if you don't insist it's a design choice.

[2015-09-05 23:36] #11 closed

[2015-09-05 23:40] iamtakashi commented on #9
Fixed via #109

[2015-09-05 23:40] #9 closed

[2015-09-05 23:59] iamtakashi commented on #111
@MonikaTS, what's your WordPress.org username? I'll add your name in my patch since your suggestion makes sense.

The issue with entry-footer is a separate issue, so could you open a new one when you have a time? Let's keep this for only the dropdown button.

[2015-09-06 00:05] #92 closed

[2015-09-06 06:52] MonikaTS commented on #111
@karmatosed  my WP username is Monika
my profile page  https://profiles.wordpress.org/monika/

and yes I will open a new issue with "entry-footer" with many categories and tags :-)
I try to find an "aesthic" way

[2015-09-06 11:22] karmatosed commented on #112
I also vote we leave this as a restriction of the design. For now, I'm closing it as a result.

[2015-09-06 11:22] #112 closed

[2015-09-06 12:38] iamtakashi commented on #57
At the moment, there is no plan to add special styling to image post format. I'm closing this to concentrate the discussion at #45.

[2015-09-06 12:38] #57 closed

[2015-09-06 13:55] dshanske commented on #45
What about distinguishing aside from status by displaying the post author avatar on status?

[2015-09-06 17:30] philiparthurmoore commented on #49
I’ve uploaded a screencast (same video, two links) to explain this more clearly:
- https://cloudup.com/cVLFRavA6na
- https://youtu.be/MFamhbbvDKo

Feedback welcome.

[2015-09-06 18:28] retlehs commented on #49
@philiparthurmoore :+1: great video, you did a very good job explaining everything. thanks for taking the time to make it.

implementing travis & having automated tests is a **necessity** for twentysixteen considering the number of pull requests that'll be coming in. they're already piling up.

[2015-09-06 18:59] kalenjohnson commented on #49
Good work @philiparthurmoore , and also a big +1 or however many votes I can give for automated testing.

It makes life so much easier when someone submits a PR of any size and instead of reading every. single. update. and pointing out each coding style issue, having Codesniffer tell you the issues. You also look less like a bad guy and just say "please fix the issues caught by Travis before I can

[2015-09-06 20:15] ihorvorotnov commented on #49
That's a great in-depth review, perfect explanation why we really need it! :+1:

However, one of the important concerns was if using Travis CI adds any complications or extra steps to follow **for contributors**. Not all of us have solid experience with continuous integration and testing. While a maintainer can merge PRs with failed tests, usually it's better to ask contributors to fix the errors

[2015-09-06 21:07] karmatosed commented on #49
Thanks a lot for that comprehensive video @philiparthurmoore and taking that considerable time to make it.

I'm not totally sold we're in a place because of not having testing or that we're going to get into a bad one. That said, it being explained helps us all get into a place where we can see the benefit. The degree of that is different depending on view point. There's a lot of person preference

[2015-09-06 21:20] nathanielks commented on #49
Testing is kind of like engine coolant. Will your car run without it? Sure, absolutely. If you run your car too hard, though, your engine is going to be in a world of hurt. Accepting pull requests _without_ automated tests on a project being used by 1^n people is like running your car without coolant.

Hopefully this expresses how valuable testing can be on such a project.

[2015-09-06 21:35] ihorvorotnov commented on #49
IMO it's good to go with the tests showed by Philip in the screencast. These are just basic 'must-have' tests for code errors and coding standards.

[2015-09-06 22:19] #111 closed

[2015-09-06 23:24] maharzan opened #118 "_e changed to esc_html_e for more security"
I found 2 instances of `_e` and for more security it was recommended to replace `_e` by `esc_html_e`. I have fixed those. I also found instances of `__(` such as `wp_kses( __( 'Continue reading %s' `and `sprintf( __( 'Continue reading %s'`. I am not sure if we need to convert those. If we need to I can do that as well.

[2015-09-06 23:35] maharzan opened #120 "Don't we need theme prefix for css calls?"
Didn't see a theme prefix on genericons. I thought we need to do that.

[2015-09-06 23:38] iamtakashi commented on #49
Thanks all, specially @philiparthurmoore, @mendezcode and @ihorvorotnov. I'm sold on this.

I'll vote "yes".

[2015-09-06 23:48] iamtakashi commented on #120
I don't think we should add prefix to Genericons. We've discussed about this in Twenty Fourteen development: https://core.trac.wordpress.org/ticket/25085#comment:8

[2015-09-07 00:47] maharzan commented on #120
ok

[2015-09-07 01:17] maharzan commented on #114
The block definitely misleads as a "clickable item". Doesn't seem to fix with just CSS so added a little jQuery.

[2015-09-07 03:12] ntwb commented on #49
This makes sense _once_ the configuration of the proposed Travis CI configuration is finalised in https://github.com/WordPress/twentysixteen/pull/23

This does not matter :)

The comments and proposed changes by @aaronjorbin and @westonruter  on https://github.com/WordPress/twentysixteen/pull/23 is the best start, they've covered pretty much everything, I think :smirk:

I'm not sure who is perform

[2015-09-07 04:11] brentlogan opened #123 "Nested menu in far right position runs under vertical scroll bar"
If the rightmost menu is nested, a portion of the nested menu hides behind the vertical scroll bar.

![menu bug](https://cloud.githubusercontent.com/assets/14060692/9709180/94568c44-54db-11e5-9b50-3db57863dbc2.jpg)

I see this behavior with both Chrome and Edge browsers.

[2015-09-07 04:31] #120 closed

[2015-09-07 08:31] karmatosed commented on #123
This seems to happen on a mid screen size @iamtakashi.

[2015-09-07 09:36] xavortm commented on #114
Why not add right arrow, but make it like 80% transparent to indicate that this is not a bug and that clearly there are no more pages? That way you will also keep the balance.

[2015-09-07 09:50] karmatosed commented on #114
What was the CSS only hurdle?

[2015-09-07 10:17] karmatosed commented on #30
@iamtakashi what do you think of the revised stack? I feel a design review would be great.

[2015-09-07 10:21] karmatosed commented on #85
Ideally we need to know which files this is in, until we do I will close this.

[2015-09-07 10:21] #85 closed

[2015-09-07 10:22] karmatosed commented on #99
Do we have a PR brewing for this?

[2015-09-07 10:23] karmatosed commented on #29
@iamtakashi what do you feel about this, as its design?

[2015-09-07 10:25] iamtakashi commented on #30
I like the patch. @ihorvorotnov, can you refresh so that there is no conflict? Let's get it in.

[2015-09-07 10:32] iamtakashi commented on #123
We've talked about this in #112. It's a limitation of the design.

[2015-09-07 10:33] iamtakashi commented on #29
Yes, the caption needs to be italic in the editor also. If @maharzan can refresh the PR, let's get it in.

[2015-09-07 10:34] iamtakashi commented on #99
I'm considering to implement the first idea from @karpstrucking. But I'm not sure yet.

[2015-09-07 11:09] maharzan commented on #114
The elements are absolutely positioned so without knowing the "last page" there is no way to move that prev arrow to the right side. Not sure if we can find that with CSS only.

[2015-09-07 11:24] karmatosed commented on #123
Let's close this one up then.

[2015-09-07 11:24] #123 closed

[2015-09-07 11:32] xavortm commented on #114
Yes you can easily do that by adding this style to the :before (the black square):
https://gist.github.com/xavortm/15a93caab9b3b17cb4fe

That way you will always have the darker arrow (showing that its not available) and when it is, it will be overlapped by the <a> element linking right. So by this you are covered that you cant click it when its unavailable.

[2015-09-07 11:42] fklein-lu commented on #118
In case of the "Continue reading %s” string in for example `content.php`, you are correct in saying that this string could be escaped instead of using `wp_kses()` to secure the translation.

I think this particular code is a left over from _s,:

[code]

In _s, you could not escaped that string, because it contains HTML, but in Twenty Sixteen it doesn't, so you can go ahead and submit a PR for this

[2015-09-07 12:47] #29 closed

[2015-09-07 13:14] karmatosed commented on #36
We have a few variations that allow a variety of combinations:
- rtl moves the sidebar
- no widgets has it with single column

As a result, the extra option is really a design decision. We're not making a framework or theme to suit everyone, that's why child themes are so popular with themes. You get to in a child theme do your own variations. Options also add hurdles for users, which we want to a

[2015-09-07 13:14] #36 closed

[2015-09-07 13:24] karmatosed commented on #77
I think this should be closed as we won't be including minified versions of css and the minified js can just be in the normal folder. A simpler folder structure helps people understand.

[2015-09-07 13:24] #77 closed

[2015-09-07 13:27] karmatosed commented on #10
This hasn't closed with the PR.. so lets close it as now this is merged.

[2015-09-07 13:27] #10 closed

[2015-09-07 13:28] karmatosed commented on #45
This issue has a few things on it now. That's ok, but it may be prudent to split things out a bit. On the matter of moving the post formats, we're not planning that. So, in that sense this can be closed.

If people want to open new issues on styling, that is something we'd have up for design review like anything design related.

[2015-09-07 13:28] #45 closed

[2015-09-07 13:31] karmatosed commented on #99
Awesome, I'll leave it in your capable hands then :)

[2015-09-07 13:34] dshanske opened #126 "Post Formats - Aside vs Status"
What about distinguishing aside from status by displaying the post author avatar on status?

Wanted to discuss styling for these two, as status is used less often in my experience than aside. But from the original description of status, I think it would display in a manner similar to, for example, Twitter.

[2015-09-07 13:55] ihorvorotnov commented on #114
I also couldn't fix it with css only, so passed it to my fellow front-end dev. Easy to fix with jQuery / javascript, however, I don't like using scripts for such cases.

[2015-09-07 14:04] ihorvorotnov commented on #30
@iamtakashi sure, I'll fix it today.

[2015-09-07 14:05] #37 closed

[2015-09-07 14:13] iamtakashi commented on #63
I'll work on it.

[2015-09-07 14:15] iamtakashi commented on #41
This also should be a little later on the development since we've changing the theme here and there.

[2015-09-07 14:25] iamtakashi commented on #7
Thanks @ihorvorotnov for the research.

[2015-09-07 15:22] philiparthurmoore commented on #49
Others have addressed the additional questions about the implementation, so I'd like to reiterate that primary end goal of this discussion that is the only thing, at this point, that needs to be given a Yes or No:

### Should automatic pull request and commit testing be added into Twenty Sixteen on GitHub to make the default WordPress theme safer, more standards-compliant, and easier to review?

T

[2015-09-07 15:41] maharzan commented on #118
have committed.. Thanks. :)

[2015-09-07 16:32] karpstrucking commented on #114
I like @xavortm's suggestion

![image](https://cloud.githubusercontent.com/assets/999261/9720472/6e03a172-555c-11e5-9565-824e00729eca.png)

[2015-09-07 16:38] nathanielks commented on #49
:clap: :clap: :clap: :clap: :clap:

[2015-09-07 16:39] ianstewart commented on #49
Removed the discussion label, following the discussion in core-themes just now.

https://wordpress.slack.com/archives/core-themes/p1441641860000034

Not sure if we need a new ticket or someone to just move forward on Philip's Yes-list above.

[2015-09-07 16:39] iamtakashi commented on #114
Do we want to add a non-clickable button with a semi-transparent arrow on the first page like this?

![screen shot 2015-09-07 at 17 37 58](https://cloud.githubusercontent.com/assets/908665/9720594/5b54e65a-5587-11e5-89b4-49d96fd1fc01.png)

[2015-09-07 16:40] ianstewart commented on #49
Editing the issue title is easier than a new ticket. :)

[2015-09-07 16:41] mkrdip commented on #41
Added strings to theme files can be updated to POT file later.

[2015-09-07 16:41] karpstrucking commented on #114
probably should for consistency

[2015-09-07 16:54] ianstewart commented on #44
We discussed this in core-themes today:

https://wordpress.slack.com/archives/core-themes/p1441641898000036

None of the suggestions as-is are moving forward. As-is additional page templates seem "unnecessary." Let's close this discussion-ticket for now and have further suggestions in new tickets accompanied by designed, sketched-out, page templates. That'll let us discuss their merits as page tem

[2015-09-07 16:54] #44 closed

[2015-09-07 17:00] ianstewart commented on #39
@mathetos Can you provide a refreshed PR here?

[2015-09-07 17:00] iamtakashi commented on #126
The difference between aside post and status post is title because status doesn't need it at all. I'm not sold on the idea of showing author avatar if it's a single author blog. I don't see it as a big gain to make the theme complicated. Twenty Sixteen doesn't highlight post formats at all and I'm not up for adding special styling to different formats.

[2015-09-07 17:02] ianstewart commented on #34
This was discussed a bit in core-themes in Slack.

https://wordpress.slack.com/archives/core-themes/p1441642643000076

**Suggestion:** Add hyphenation for browsers that support it in titles and titles-only. Fallback to current status.

[2015-09-07 17:07] iamtakashi commented on #49
@philiparthurmoore Can you move this forward? If you need us to do something, just let me know.

[2015-09-07 18:21] karmatosed commented on #49
We need to also bring in the .org side as this repo syncs daily. Before we do anything @philiparthurmoore lets get the input of @dd32.

[2015-09-07 18:30] ihorvorotnov commented on #114
:+1:

[2015-09-07 18:33] #30 closed

[2015-09-07 20:34] SeanChDavis commented on #34
Alright I started fresh and added `hyphens: auto;` (with vendor prefixes) to just the necessary elements: entry-title, comments-title, and post navigation post-title... that's it. I also added the recommended `word-break: break-all;` fallback for hyphens. Again, though, this only applies to those three title elements.

![screen shot 2015-09-07 at 3 33 27 pm](https://cloud.githubusercontent.com/ass

[2015-09-07 20:37] SeanChDavis commented on #34
Sorry, those are Chrome which use the fallback. Here's what it looks like in browsers that have hyphen support:

![screen shot 2015-09-07 at 3 36 24 pm](https://cloud.githubusercontent.com/assets/2359131/9722638/38679d24-5576-11e5-8cb7-84df2b6dd34c.png)

---

Bottom line, it works in all browsers, though the appearance is not consistent. No broken layouts, though.

[2015-09-07 21:02] philiparthurmoore commented on #49
Yes, absolutely.

Where does this repo sync daily to? Can you give me the direct URL? I'm not seeing any traces of this theme in Trunk yet so I'm having a hard time understanding how this is related right now:
https://core.trac.wordpress.org/browser/trunk/src/wp-content/themes

Thanks for taking the time to discuss this during the weekly meeting gang.

[2015-09-07 21:54] karmatosed commented on #49
@philiparthurmoore we sync to the .org theme repo not core. I've pinged @dd32 above as he has set this up. We need to not sync over the travis files.

Note, we should not merge or do any commits until we have this set up.

[2015-09-07 22:07] karmatosed commented on #126
I also don't think this is something worth pursuing. Status doesn't have to display like Twitter, that's up to the theme. For now, as @iamtakashi isn't keen either lets close this. I am keen we keep design decisions to him.

[2015-09-07 22:07] #126 closed

[2015-09-07 22:11] karmatosed commented on #118
@maharzan where did you commit? Not seeing it linked to this.

[2015-09-07 22:12] karmatosed commented on #118
I'm assuming this is the updated one: https://github.com/WordPress/twentysixteen/pull/119? It's still out of sync so really we need that resolved.

[2015-09-07 22:13] karmatosed commented on #107
Can you do a patch for this?

[2015-09-07 22:15] karmatosed commented on #73
I'm not sure this has to have vcard. What do you think @iamtakashi ?

[2015-09-07 22:18] karmatosed commented on #34
This current PR seems to do more than just titles, unless I'm wrong.

[2015-09-07 22:20] karmatosed commented on #17
This hasn't been merged into _s yet. I'm not totally sure we should merge this here.

[2015-09-07 22:28] philiparthurmoore commented on #49
Oh, this URL? https://themes.trac.wordpress.org/browser/twentysixteen/

@dd32, can you make sure that the following files, at a minimum, never make their way to that repo?

[code]

Thank you.

[2015-09-07 23:33] SeanChDavis commented on #34
@karmatosed The decision made in the Slack conversation was to add it to titles but not the body. I added it to post titles, the same title that displays above the comments: "One thought on {post_title}, and the post navigation titles... all legit titles. http://glui.me/?i=8lqvgh0p3lu0fkl/2015-09-07_at_6.31_PM_(1).png/

Why would we fix the title in one location and not the other locations?

[2015-09-07 23:37] dshanske commented on #17
I'm still unsure what stopped it.

[2015-09-08 04:57] maharzan commented on #118
Thanks. I did an update here. I hope that won't go out of sync. :)

https://github.com/WordPress/twentysixteen/pull/119

[2015-09-08 04:59] maharzan commented on #99
@iamtakashi My vote to the first idea as well.

[2015-09-08 05:01] maharzan opened #132 "Version 1.0"
I am sure this is scheduled but just wanted to make note of it here. Everywhere there is  `@since Twenty Sixteen 1.0` but the style.css has a different version. Plus, I noticed that the wordpress.org version is more latest ( rendering date? ) than here. I was getting an update message over at the Themes page and was wondering if my fork wasn't upto date. :)

[2015-09-08 05:17] dd32 commented on #49
Can we please just leave them in the package? Excluding them adds no significant benefit.

[2015-09-08 05:29] maharzan opened #133 "The link color in Green Color Options isn't so readable"
I think a darker like #297760 could be better. Right now, there is less contrast and its very hard to read the links/sidebars.

[2015-09-08 05:32] philiparthurmoore commented on #49
Makes absolutely no difference to me, or a theme user for that matter. I'm
trying to follow the rules so there's this and the issue of you (or someone
with Admin over the repo) toggling Travis CI on so we can proceed. Thanks
so much for your timely response.
On Sep 8, 2015 12:17 PM, "Dion Hulse" notifications@github.com wrote:

[2015-09-08 05:35] dd32 commented on #49
@Otto42 I believe you're an owner who can toggle this stuff? Any chance you're able to help the team get it setup?

[2015-09-08 08:19] karmatosed commented on #132
Once the theme gets released things will work out with version numbers. The update message is because of the difference between GitHub and the .org theme directory. This is something we're working on.

[2015-09-08 08:19] #132 closed

[2015-09-08 08:20] #118 closed

[2015-09-08 08:23] karmatosed commented on #49
I've been having a think about this. I 'think' the files are ok to have in the .org repo. But, I've asked for a second opinion as we usually ask for any files not used to be cleared up. That's what my gut reaction was to ask them to be removed. The usual ruling is 'unless used removed'. As with all admin decisions, we check with someone so if we can hold off until we get a ruling please.

[2015-09-08 08:28] karmatosed commented on #133
I think this is a design decision, so tagging for review.

[2015-09-08 08:29] karmatosed commented on #34
@SDavisMedia, right I was in meeting also. Your patch seems to go a bit further.

[2015-09-08 08:34] maharzan commented on #133
Just so when we are here, the gray color for some fonts are also pretty hard to read.. maybe I m just getting old. :)

[2015-09-08 08:38] philiparthurmoore commented on #49
Who is making what ruling, and about what? Can you clarify this? Thank you very much!

[2015-09-08 08:45] dd32 commented on #49
Regardless of any repo guidelines, I'd like to keep the zips consistent for a simpler sync script, removing the version bumps from the sync and instead having them happen via Github is going to make that vastly easier.

If absolutely required, and I'm yet to see any good reason to, the files can be excluded, but probably not until end of next week.

[2015-09-08 09:01] karmatosed commented on #49
All I have asked is for another theme review admin to give their interpretation of if the files have to be removed. Let's take it from there step by step without assumption.

[2015-09-08 09:29] philiparthurmoore commented on #49
Thanks for explaining that; very helpful information. It wasn't very clear to me.

[2015-09-08 09:48] iamtakashi commented on #133
Some colours in a few colour schemes are low contrast but that's intentional design decision when we have the high contrast default colour scheme. We aren't forcing theses colours as people can change them very easily.

People can have any opinion on any colour but I don't want to change any colour.

[2015-09-08 09:48] #133 closed

[2015-09-08 10:12] grappler commented on #49
As the whole process of syncing the GitHub repo to the theme directory I feel that leaving the files will not cause any issue. The files will be removed anyway in the final version.

@dd32 How does the sync script work? Could @philiparthurmoore suggestion of using [`.gitattributes`](http://alexbilbie.com/2012/11/exclude-objects-with-gitattributes/) work?

[2015-09-08 13:06] SeanChDavis commented on #34
@karmatosed It would help if you'd be more specific. This is the feedback I'm getting from @iamtakashi: https://github.com/WordPress/twentysixteen/pull/131#commitcomment-13108197

[2015-09-08 13:08] karmatosed commented on #34
Sure. My point was you highlight comment and also post navigation titles. In our chat we talked about titles. Your patch brings in comment titles and navigation.

[2015-09-08 13:14] karmatosed commented on #34
After having a chat with @iamtakashi, it's a design decision to do all titles and I'm absolutely fine with that.

[2015-09-08 13:15] SeanChDavis commented on #34
@karmatosed Oh okay. Correct, because this makes no sense: http://glui.me/?i=gdw0bodg48j6ni1/2015-09-08_at_8.11_AM.png/ I'm willing to remove it if a discussion says I should do so. But I'm pretty sure when he said [this](https://wordpress.slack.com/archives/core-themes/p1441642862000087), he was using "titles" as a distinction between title text and body text... not specifically saying on entry t

[2015-09-08 13:15] SeanChDavis commented on #34
Sorry... just saw your last message, @karmatosed. :+1:

[2015-09-08 14:17] iamtakashi commented on #34
Yes, I meant all titles including ones in the post navigation and the comment title. I should've made it clear in the chat.

Now I wonder if we should apply the word wrap rule to more broadly, and add hyphens to only the aforementioned titles. So we can remove the word wrap rule from the current stylesheet. But I'm hesitant to apply it with the universal selector. I don't have any backup test case

[2015-09-08 14:35] SeanChDavis commented on #34
That's the original conclusion I came to (minus the hyphens) because as I added adjustments to multiple elements, I noticed that I was needing to go more and more broad. That's why I ended up just going universal. Can't say I'm a huge fan of repeating the same CSS multiple times throughout the stylesheet if we don't have to.

I have about a dozen or so themes released (including two on .org) and I

[2015-09-08 15:20] karmatosed commented on #49
After chatting to José, I feel safer in saying let's keep the files in there on the.org theme repo. I wanted to be sure as this is obviously the easier option.

[2015-09-08 15:22] philiparthurmoore commented on #49
Thanks. I'll make a fresh PR tomorrow.

[2015-09-08 16:34] mathetos commented on #39
I will absolutely.

[2015-09-08 16:36] tywayne commented on #107
@karmatosed Sure thing, PR sent.

[2015-09-08 17:27] tywayne opened #135 "Better show/hide of .byline in .entry-footer"
In `twentysixteen_entry_meta()` the .byline section is added for posts.
This section is then hidden by default with css ([style.css - L1919](https://github.com/WordPress/twentysixteen/blob/master/style.css#L1919)) and only shown again (as far as I can tell) if viewing a single post or if we're on a multi author blog ([style.css - L1924](https://github.com/WordPress/twentysixteen/blob/master/style.

[2015-09-08 22:03] #107 closed

[2015-09-08 22:10] iamtakashi commented on #73
I don't have a strong opinion on this.

@dshanske, since you opened the issue, any feed back on the PR?

[2015-09-08 23:03] iamtakashi opened #136 "Unwanted Top Padding in a Post When Posts Page isn't Front Page."
This was pointed by @chrisdc in a PR #46 but it fell through the cracks. (It's always better to start with issues.)

![fcbed58c-4ea7-11e5-8e5e-97f471d8d9e2](https://cloud.githubusercontent.com/assets/908665/9749485/30c712e2-5685-11e5-9ae8-608dcbc061c1.jpg)

@chrisdc suggested to use `:first-of-type` instead of `:first-child` but we're going to support IE8 as discussed in #6 and I'm going to use ad

[2015-09-08 23:10] #136 closed

[2015-09-09 00:04] dshanske commented on #73
What is the argument against it? We are representing an author, so it does apply.

[2015-09-09 00:13] iamtakashi commented on #73
I did not say I'm against it.

I just asked your feedback on the PR #88 because you seems to have strong opinions on microformats and It's always helpful for us to hear "+1" or "Looks good" from the person who opened an issue.

[2015-09-09 02:02] Otto42 commented on #49
Can somebody lay out what needs to be done, like, really specifically? I'm happy to make any admin side/owner changes needed, as long as you all agree, but I don't use Travis myself and know nothing about it.

[2015-09-09 02:06] Otto42 commented on #49
Also, would we need some kind of WordPress organizational account on Travis? I can set that up too, but I think we need a plan here, to avoid tying it to Automattic or similar. Happy to do it, totes can, just need info on the best/right way.

[2015-09-09 02:23] philiparthurmoore commented on #49
Hey Otto. It's simply a matter of hitting a toggle. Travis already knows what repositories are on GitHub.
1. Go to https://travis-ci.org/
2. Authenticate your account with GitHub
3. Go to https://travis-ci.org/profile/yourgithubusername
4. Turn the toggle on for Travis CI for the WordPress/TwentySixteen repo

That's the only thing we'd need right now. Thanks.

[2015-09-09 02:27] philiparthurmoore commented on #49
Example: https://travis-ci.org/Automattic/_s

The 2016 repo URL will be https://travis-ci.org/WordPress/twentysixteen

Anyone with Admin rights over this 2016 repo in github can do this. It's a matter of letting the repo know on GitHub that it's okay to give Travis CI access to its commits and PRs

[2015-09-09 02:34] Otto42 commented on #49
Okay, that's done.

https://travis-ci.org/WordPress/twentysixteen

The rest is on you. If you need me to change something, lemme know.

[2015-09-09 02:35] philiparthurmoore commented on #49
Easy peasy. Thank you very much for taking care of this.

[2015-09-09 03:42] dshanske commented on #73
I think I didn't write what I meant clearly(that is what you get when you jot a quick note on your phone). I was trying to figure out if there was a concern that it wasn't an hcard, and thus shouldn't be marked up with vcard.

So, I ran the entire thing through a parser...with and without the change. And I found a conflict.

The vcard in the entry metadata and the vcard in the author bio make dupl

[2015-09-09 06:22] #73 closed

[2015-09-09 06:22] karmatosed commented on #73
I think for now, let's close this then.

[2015-09-09 06:24] karmatosed commented on #49
I kind of agree with @Otto42 about a non tied account. Does anyone know how we can get that setup? It would help in the future potentially.

[2015-09-09 06:30] ntwb commented on #49
It's not needed, Travis CI is Free as in :beer: for open source projects, it's only linked to the repo parent organization so that some basic permissions and access can be controlled by the repo owner and not forks of the main repo etc

[2015-09-09 07:36] philiparthurmoore commented on #49
Travis CI is just a service on this specific repo.

<img width="713" alt="2015-09-09_13-35-38" src="https://cloud.githubusercontent.com/assets/28684/9754927/b695f880-56f7-11e5-9f35-38319e4686ed.png">

If for whatever reason Otto leaves WP in the next few weeks (the likelihood of which is around the same as me learning Russian by tomorrow) and the connection to Travis CI is lost, then someone else

[2015-09-09 11:58] weblizar opened #138 "RTL- SITE TITLE issue(Design)"
When you switched to RTL-mode the Site Title and the Menus , Depicts distorted design.

Also TAGS / Edit option should be on the RIGHT side of page.

Screenshot attached for both

![2016-rtl](https://cloud.githubusercontent.com/assets/14194709/9761096/16cb6846-5718-11e5-8236-1d42c7b718ce.png)

Thanks.

[2015-09-09 12:02] iamtakashi commented on #138
RTL support is scheduled task but not yet implemented. See #5.

[2015-09-09 12:02] #138 closed

[2015-09-09 12:04] weblizar commented on #138
Thanks for the info..

[2015-09-09 12:40] philiparthurmoore commented on #49
Pull request added in https://github.com/WordPress/twentysixteen/pull/140.

[2015-09-09 14:51] Nikschavan opened #141 "Single posts show full content as well as post excerpt"
![single posts show excerpts](http://i.imgur.com/BKZ4tUC.jpg)

The same is the result on `blog page`.

This is when excerpt manually added to the post

When looking into code, in `content-single.php` the excerpt is explicit printed on the screen. Is this intentional?

~ Nik

[2015-09-09 15:03] iamtakashi commented on #141
Yes. It's meant to be used as an intro. We will clarify this feature in readme.txt.

[2015-09-09 15:03] #141 closed

[2015-09-09 15:45] brentlogan commented on #141
Unusual uses of standard features makes it difficult to transition a long term blog to twenty sixteen. Looks like I'll be going through all my posts and deleting all my handcrafted excerpts. :-(

[2015-09-09 15:54] doughamlin commented on #141
Agreed. It seems like this could cause a great barrier to entry (and exit) in using Twenty Sixteen. I think a post meta field makes more sense for this use (not that I'm advocating that; I understand what a can of worms that would open).

[2015-09-09 15:55] philiparthurmoore commented on #141
I could see this being a nightmare for theme switchers and users with custom excerpts on hundreds of posts. As a design decision I think it's **beautiful** but if the support questions from [Subtitles](https://wordpress.org/plugins/subtitles/) have been any indication to me it's that there are people who really do take advantage of those custom excerpts on a ton of posts in weird ways because buil

[2015-09-09 15:57] philiparthurmoore commented on #141
^ If it wasn't clear from my comment above, I think the actual design approach there with the sub-text under the title is lovely. Always wished there were an easy way to do that with WordPress.

[2015-09-09 16:01] ihorvorotnov commented on #141
@philiparthurmoore if someone uses excerpts for kind of subtitles (or a 1-2-3 sentence "long title" / description) isn't it going to be perfectly fine with current design decision? Like, a title, followed by visually enhanced excerpt (be it a subtitle or longer description), followed by actual content. Am I missing smth here?

[2015-09-09 16:04] philiparthurmoore commented on #141
Yes, I'm not actually advocating taking that out at all. I love it. But don't custom excerpts support any sort of HTML that's also allowed in a post? (That may be edge case territory.)

As I said, I'm mostly interested in actual user feedback. I love what Takashi has done there with the placement of it.

[2015-09-09 16:37] iamtakashi commented on #141
Thanks for feedback, guys.

Yes, it maybe unusual but this is something I'd like to try because we've never done that in past default themes.

People might have used the excerpt field in a lot of different ways in past, and there is no way to know all the cases. But if we think about what the excerpt field is really meant for, it is a place to add a quick summary of a post, and I think it works re

[2015-09-09 17:17] philiparthurmoore commented on #141
Couldn't agree more. Doesn't hurt to try new things. :) Looks fantastic.

[2015-09-09 17:39] ihorvorotnov commented on #141
Agree.

As a theme developer (currently building a free **blog** theme for WP.org with a Pro version) I would be happy to know more about these kind of usage, even edge cases.

For example, here's how I did it on a news site for one of my clients (and it will work perfectly with twentysixteen):

![2015-09-09_19-02-30](https://cloud.githubusercontent.com/assets/1066083/9769391/9e8a8112-5732-11e5-8a

[2015-09-09 21:34] ihorvorotnov opened #143 "Fix some coding standards errors, reported by Travis CI"
As @karmatosed asked in #139, after adding Travis CI checks we've got some errors in our current codebase. It's mostly js-related, some minor php stuff. Nothing critical.

I have a day-off tomorrow (well, in 10-12 hours) - can do it if no one is going to take care of it earlier.

[2015-09-09 22:06] mathetos commented on #39
Cleaning it up now for the new PR. Sorry for the delay.

[2015-09-09 22:20] mathetos commented on #39
Refreshed PR added here: https://github.com/WordPress/twentysixteen/pull/144

[2015-09-10 01:41] philiparthurmoore commented on #143
I'll have a lot of this sussed out as well if you don't get around to it.
Thanks so much for helping with this and for engaging that discussion. Big
thumbs up.
On Sep 10, 2015 4:34 AM, "Ihor Vorotnov" notifications@github.com wrote:

[2015-09-10 07:28] ntwb commented on #49
Ignore this :smirk:

[2015-09-10 09:29] #41 closed

[2015-09-10 09:32] #114 closed

[2015-09-10 09:55] karmatosed commented on #49
Clsoing this as we have it now in.

[2015-09-10 09:55] #49 closed

[2015-09-10 12:26] #99 closed

[2015-09-10 13:11] karmatosed commented on #143
Having one PR to fix PHP and one to fix JS could be nice - just as a thought rather than a mass PR. Thanks for taking this on. Be great to get it so tests can be passed.

[2015-09-10 13:13] karmatosed commented on #17
I'm going to flag this for discussion in this week's meeting. I feel we shoudn't bring this in yet, but that's not to say we won't. I think it's something we need to get opinions on.

[2015-09-10 13:15] philiparthurmoore commented on #143
PHP is done.

JS is all that remains! Super-close.

[2015-09-10 13:21] karmatosed commented on #143
Awesome, want to do two seperate PR @philiparthurmoore ?

[2015-09-10 13:24] philiparthurmoore commented on #143
I mean that PHP was done in #139 and #146, so no more PHP errors exist at all in the theme.

JS coding standards are all that remain. I'll put a PR together for JS tomorrow if @ihorvorotnov doesn't get around to it:

[code]

Those are what we'll be addressing.

[2015-09-10 13:25] philiparthurmoore commented on #143
PHP was super-easy. My hope is that the JS will be easy also. Most of these issues look very minor.

[2015-09-10 13:29] iamtakashi commented on #143
I'd suggest to make a PR for each JS file. That would be easier to test.

[2015-09-10 14:05] ihorvorotnov commented on #143
@iamtakashi I'm fetching latest code right now to fix that js stuff. Separate PR for every file is an overkill, I'm going to push a separate commit for every file, it should be enough as all the errors are just coding standards - extra spacing, missing dots etc (it's unlikely going to break smth). If you really need it to be a PR per file - please let me know.

[2015-09-10 14:48] iamtakashi commented on #143
ok, one PR is fine.

[2015-09-10 17:53] karmatosed commented on #32
Related to this is what I can see here:

<img width="1236" alt="2015-09-10 at 18 51" src="https://cloud.githubusercontent.com/assets/253067/9796257/1fe3641c-57ed-11e5-8460-bd3f10f513aa.png">

I think it could be expected that someone would do a quote at the beginning.

To replicate:
- Create new post
- Add blockqute with alignleft class
- Add content after

[2015-09-10 18:58] mor10 commented on #32
Yes, that is exactly the same as the screengrab at the top of the issue.

[2015-09-10 19:15] ihorvorotnov commented on #143
I'm afraid the js part is a bit trickier then I thought. I've fixed all minor issues, PR is coming soon. However, there are some pieces I would like to discuss with you guys. I'll post here a detailed log with my comments after the PR.

[2015-09-10 19:23] valendesigns commented on #32
Shouldn't the footer just clear the float?

[2015-09-10 19:38] mor10 commented on #32
@valendesigns The left-aligned blockquote is positioned using a negative margin so even if the entry clears, it still collides with the floated content.

[2015-09-10 20:28] karmatosed commented on #135
Noting this is flagged for discussion in the next meeting: Friday 16:00 UTC in #core-themes.

[2015-09-10 20:28] karmatosed commented on #34
Noting this is flagged for discussion in the next meeting: Friday 16:00 UTC in #core-themes.

[2015-09-10 20:29] karmatosed commented on #17
Noting this is flagged for discussion in the next meeting: Friday 16:00 UTC in #core-themes.

[2015-09-10 20:30] SeanChDavis commented on #34
Sweet.

[2015-09-10 22:06] ihorvorotnov commented on #143
So, there's #152 that fixes all minor issues. Let's walk through Travis logs and see what left (and why):

#### /js/color-scheme-control.js

**All identifiers must be camelCase or UPPER_CASE**:
https://travis-ci.org/WordPress/twentysixteen/jobs/79746211#L218
https://travis-ci.org/WordPress/twentysixteen/jobs/79746211#L226

It's about renaming variables, and it's not about just renaming them on thi

[2015-09-11 00:14] ntwb commented on #143
JavaScript isn't my thing but the WordPress Coding Standards for JavaScript are here:
• https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/

Following these as closely as possible is the ideal scenario, this page also hasn't had any updates (apart from stylistic tweaks) in ~2 years so if something isn't there that should be, or if something needs clarification we c

[2015-09-11 00:18] philiparthurmoore commented on #143
@ihorvorotnov I consider most of these very trivial matters. Happy to put together a pull request today that addresses most, if not all, of the questions you've asked above.

[2015-09-11 10:22] ihorvorotnov commented on #143
@philiparthurmoore I'll be busy today, go for it. Thank you!

[2015-09-11 10:26] philiparthurmoore commented on #143
Sounds good. I'll put something together before I head out for the day. Cheers.

[2015-09-11 10:48] SergeyBiryukov commented on #135
Twenty Fifteen [does the same](https://core.trac.wordpress.org/browser/tags/4.3/src/wp-content/themes/twentyfifteen/inc/template-tags.php#L82), so makes sense to me.

[2015-09-11 11:19] iamtakashi commented on #135
My initial thought was that in this way, people can show or hide there avatar with just simple CSS changes but I'm not against with the idea of not printing at all either.

If we go this way, we should get rid of `group-blog` body class as well as some more style rules related to `byline`.

[2015-09-11 14:43] ihorvorotnov commented on #143
We did it, Travis CI smiles in green now :) Thanks to everyone who made it happen!
This issue may be closed, I think. And `needs patch` should be removed as well.

[2015-09-11 14:43] #143 closed

[2015-09-11 16:03] karmatosed commented on #135
As discussed in today's chat, we're going to keep this as it is for now because it provides more flexibility using just CSS.

[2015-09-11 16:03] #135 closed

[2015-09-11 16:16] karmatosed commented on #17
In order to give this proper consideration we really need to know why this is a good idea and why in the way it's been done. We're not saying either way as a call, we just need to know all the facts.

[2015-09-11 16:26] karmatosed commented on #34
We discussed this today in the weekly meeting @SDavisMedia, we need a refresh PR. It would be great to investigate rounding up the slectors into one statement. Or at least to explore that.

[2015-09-11 16:43] dshanske commented on #17
Basically, a feed is multiple items. Therefore it would not apply on single pages.  In the context of the microformats specification an hfeed is a page with multiple hentrys.

[2015-09-11 16:46] dshanske commented on #17
To put it another way, on a single post, hentry is the top level element. On an index/archive page, hfeed would be.

[2015-09-11 17:20] SeanChDavis commented on #34
This gets messier every time more changes have to be made while others are getting merged. So I scrapped my fork and started over again.

The most recent PR consolidates the `hyphen` CSS in what I felt was the most logical position in the stylesheet. Word-wraps were left as they were.

@karmatosed, let me know if this is not what you meant in your last comment please. And if it's not, please expla

[2015-09-11 22:30] ihorvorotnov commented on #17
I'm not good in microformats, so I did some research to learn it. According to [spec](http://microformats.org/wiki/h-feed), @dshanske is correct.

While I couldn't find similar statement for `hfeed` (not `h-feed`), if you check [code examples](http://microformats.org/wiki/hatom-examples), they follow the same concept. Same is explained by those working on specs in many discussions over the interne

[2015-09-11 22:39] ihorvorotnov commented on #34
For me #161 looks fine.

[2015-09-14 15:47] karmatosed opened #175 "Device testing"
As with any theme it's great to test in a variety of devices. This issue is an attempt to get this organised. I'm going to list a range of devices we should at minimum test in.

Here is a suggested list of devices we need covered:

- Android phones : pick your favourite (Nexus etc)
- iPhone: 5, 6, 6 plus
- iPad : mini retina, retina, non-retina
- Android tablets
- Anything else you choose to test

[2015-09-14 15:56] karmatosed opened #176 "Browser testing"
As with all good things, it's time to really put Twenty Sixteen through its browser paces.

As a minimum we should be testing:

IE: 7 should not crash, 8 should be legiable, rest should work
Firefox
Chrome
Safari
Opera

We should also be testing across platforms on both Max, Linux and Windows. Also a range of versions for those too would be good to be fully sure.

## Reporting format

As you test

[2015-09-14 15:58] iamtakashi commented on #176
Just to note, as #6, CSS for IE8 and 7 haven't been worked on yet.

[2015-09-14 21:41] mathetos opened #177 "Default Color Schemes should have accessible contrast"
For web accessibility, there should be more contrast in the color schemes. Here's a good resource on that: http://webaim.org/resources/contrastchecker/

These schemes specifically fail on the link colors against their background colors:

## GREEN
![webaim_colorcontrastchecker](https://cloud.githubusercontent.com/assets/930724/9862515/4ad98e0e-5aee-11e5-9986-5f841eb6ab91.png)

## GRAY
![webaim_colo

[2015-09-14 21:45] mathetos commented on #177
I see that this was discussed here https://github.com/WordPress/twentysixteen/issues/133 but the issue of Accessibility wasn't raised in that conversation.

I think accessibility should be a priority, not just simply a design decision.

[2015-09-14 22:36] iamtakashi commented on #177
The Green and the Gray color schemes are not default, they are options. The default is "Default" color scheme.

https://make.wordpress.org/themes/handbook/review/accessibility/required/#contrasts

[2015-09-14 22:36] #177 closed

[2015-09-15 00:15] cgrymala commented on #177
So, @iamtakashi, what you're saying is that, instead of being an example for good design standards and what should be done with WordPress, you want TwentySixteen to be an example of the minimum that can be done to pass the theme review?

As a color-blind WordPress user, I have to say that I am extremely offended by that attitude, and I implore you to re-open this ticket and fix these color schemes

[2015-09-15 00:19] cgrymala commented on #177
As a side note, maybe your quote from the theme standards means that the theme standards themselves should be updated, rather than theme developers being able to use them as a cop-out.

[2015-09-15 01:29] iamtakashi commented on #177
@cgrymala, Three out of five colour schemes are high contrast — the default, dark, and yellow schemes (although the link colour in the yellow is a bit low contrast). So, I disagree with you to call it as an example of the minimum. Also all colours are editable in any of colour scheme, the theme doesn't force to use any of the preset of colour.

It's true that we don't have control over what colour

[2015-09-15 01:40] cgrymala commented on #177
So, what you're saying is that the developers of TwentySixteen, and, by extension, WordPress, are only 60% committed to accessibility? Granted, it's better than a lot of groups, but it's not what I'd expect from WP.

There is no good reason to ignore accessibility standards when you have the option to do the right thing. If users tweak their own color settings without recognizing what they're doin

[2015-09-15 06:32] MickeyKay commented on #32
Hey all, chiming in with my two cents. . .

You can clear the `.entry-footer` element, but then it won't float left of the main content as is intended in it's most basic behavior. As @mor10 mentions, this is a challenging and complex layout issue that has no simple solution as far as I know. The fact that JS is required to deal with full-width images at all feels a bit jenky to me as well, but I c

[2015-09-15 06:56] MickeyKay commented on #32
Added PR which should solve this specifically for blockquotes. As mentioned, if there are other elements that are known to cause this issue, then a more general solution should be implemented.

[2015-09-15 07:02] MickeyKay opened #179 "Possibly incorrect padding at intermediate screen widths"
Between screen widths of `44.375em` and `56.875em`, there is asymmetric whitespace to the left and right of the main content and title.

![image](https://cloud.githubusercontent.com/assets/3189678/9869974/02f6e31c-5b3d-11e5-8ff4-6a4e35d7f426.png)

Not sure if there's a reason for this (e.g. does anything pull right at this width?), but it seems odd to have that wide strip of white on the right, bu

[2015-09-15 09:18] karmatosed commented on #179
I also see this, but it may be part of the intended design. Lets flag for design review.

[2015-09-15 13:07] SeanChDavis commented on #179
This was intentional. It's for readability. See: https://github.com/WordPress/twentysixteen/issues/104

[2015-09-15 13:40] cgrymala commented on #177
I don't know that I'd necessarily qualify even the default theme as "high contrast" in all areas. It may meet WCAG 2.0 AA contrast guidelines, but there are quite a few areas that don't meet the AAA guidelines (4.5:1 for large text, 7:1 for body text).

I'm not saying they necessarily _should_ meet AAA guidelines, yet, but if they don't, they certainly don't qualify as "high contrast".

The standa

[2015-09-15 13:55] cgrymala opened #180 "Non-Accessible Color Schemes Should Be Clearly Labeled"
In order to comply with the Theme Review accessibility guidelines, the non-accessible color schemes should be clearly labeled as such:

https://make.wordpress.org/themes/handbook/review/accessibility/required/#contrasts

I am preparing a Pull Request to address this. Thank you.

[2015-09-15 14:18] karmatosed commented on #180
As this PR was closed and the conversation over there, closing this also.

[2015-09-15 14:18] #180 closed

[2015-09-15 18:47] iamtakashi commented on #179
Yes. @SDavisMedia is correct — it's for readability. The idea is to make sure the character per line won't exceed roughly 70 to 75 which is traditionally considered as a good number.

I have considered to make it centred but I've decided to keep it left aligned to keep the relationship stronger with the header and the footer.

[2015-09-15 18:47] #179 closed

[2015-09-15 18:55] iamtakashi commented on #32
@MickeyKay The left-align pull-quote and the full-width image are the only elements move into the left margin. I think your PR will fix this particular issue but it could be more "DRY" if we combine the check with the one for full-width image like the PR from @maharzan. I'm curious why you took this approach. Is the any particular reason?

[2015-09-15 21:48] tywayne opened #183 "Top level menu items with children require double tap to access"
**Device details:**
iPhone 6
iOS 8.4.1
Safari

**Steps to recreate:**
1. Create a menu that has both items with and without children
2. Assign to 'Primary Menu' location
3. Tap a menu item with no children - this should result in navigating to the tapped item
4. Tap a menu item *with* children - this will not navigate to that item
5. Tap the same menu item again - this will navigate to the item

S

[2015-09-15 23:44] MickeyKay commented on #179
Awesome! Glad to know you considered this.

[2015-09-15 23:44] MickeyKay commented on #179
Awesome. Glad to know you considered this and made an informed (and
fantastic) decision :)

On Tue, Sep 15, 2015 at 11:47 AM, Takashi Irie notifications@github.com
wrote:

[2015-09-15 23:46] MickeyKay commented on #32
Ah, I just didn't see that PR :)

[2015-09-16 00:24] iamtakashi commented on #34
Fixed in #161

[2015-09-16 00:24] #34 closed

[2015-09-16 08:06] SergeyBiryukov opened #186 "'Continue reading %s' string needs a translator comment, not a context"
In 999132e for #25, the translator comment for `'Continue reading %s'` was replaced with a context.

The translator comment was appropriate there, no need to move it to context:
* Translator comments are meant to explain the usage of placeholders in a string.
* `_x()` is meant to distinguish the same string used in different contexts.

Now we have two duplicate strings, [one with](https://github.c

[2015-09-16 12:20] dev-xiligroup opened #188 "Php notice when updating twenty sixteen used as parent"
When updating twenty sixteen used as parent in themes page:

PHP Notice:  Undefined index: preview in /Applications/MAMP/htdocs/wp_svn43/wp-admin/includes/class-wp-upgrader-skins.php on line 742

[2015-09-16 13:46] iamtakashi commented on #183
Good catch! The fix for dropdown menu on touch screens should run when screen is bigger than 910px wide.

[2015-09-16 14:00] karmatosed opened #190 "Escaping review"
There is a fair bit of to and fro about escaping and when too much is going on (or not enough). As we talked about in this weekly meeting, lets now bring that here to give everyone a chance to suggest a way through this. In the past, when a default theme goes into core it has had a ticket removing a lot of work done because of over escaping. Lets try and minimise that this time and find a way to m

[2015-09-16 14:42] ocean90 commented on #190
I did a review of the theme without looking at Dion's PR first and they look pretty similar: https://github.com/ocean90/twentysixteen/commit/347dc701f18ca63b8fd86b014e8b50a3a172e46a

Only https://github.com/dd32/twentysixteen/commit/1fb2fd014f165acd7a9418cb1fb22c3f48a44a66 is missing.

[2015-09-16 15:46] tywayne commented on #183
In looking into a fix for this, I found a section of `js/functions.js` that seems unnecessary, and when removed, resolves the issue. The section in question is [Lines 79-89](https://github.com/WordPress/twentysixteen/blob/master/js/functions.js#L79-89).

The containing anonymous function seems to be addressing an issue of accessibility of submenu items, and toggling a `.focus` class on focus/blur

[2015-09-16 15:53] iamtakashi commented on #183
The function you are referring to is to fix the issue that is submenu items in the normal, non-mobile  dropdown inaccessible on touch devices. The normal non-mobile navigation appears on, for example, iPad landscape orientation.

So, we definitely want to keep that but like I said before we just need to make it run for the screen bigger than 910px wide.

[2015-09-16 15:57] iamtakashi commented on #183
Reference: https://core.trac.wordpress.org/ticket/24767

[2015-09-16 17:12] tywayne opened #193 "Typo in comment for onResizeARIA() in js/functions.js"
`// Add he default ARIA attributes for the menu toggle and the navigations.`

Should be

`// Add the default ARIA attributes for the menu toggle and the navigations.`

[2015-09-16 17:38] tywayne opened #195 "Some yoda conditions in functions.js are difficult to read."
When comparing to an integer using `<, >, <=, >=`, the use of a yoda condition makes it difficult to understand.

[Example - L98 in functions.js:](https://github.com/WordPress/twentysixteen/blob/master/js/functions.js#L98)
`if ( 910 > window.innerWidth )` is doing something when the window is smaller than 910, which would be much more readable as `if ( window.innerWidth < 910 )`

This is outlined

[2015-09-16 18:16] #193 closed

[2015-09-16 18:20] karmatosed commented on #195
Do you have a patch for how to do this better?

[2015-09-16 18:20] karmatosed commented on #190
~~Noting that: https://github.com/WordPress/twentysixteen/issues/186 relates. Edit: clarifying by relates, it kind of does as we're batch updating things done and this was done in same pass.~~

Edit: that issue has been merged.

[2015-09-16 18:21] karmatosed commented on #188
I just tested this and don't get this issue. I would suggest you make sure no plugins are activated. If you still get this, please add a comment with exact steps.

I am for now closing as unable to replicate.

[2015-09-16 18:21] #188 closed

[2015-09-16 18:22] karmatosed commented on #186
We have a review ticket, so for now I'm merging this into that.

[2015-09-16 18:30] SergeyBiryukov commented on #186
@karmatosed This has nothing to do with escaping though, but rather with i18n best practices.

[2015-09-16 18:44] karmatosed commented on #186
I think it comes under that, but we can discuss seperately. Re-opened to do that.

[2015-09-16 19:34] #195 closed

[2015-09-16 19:35] karmatosed commented on #195
Awesome, thanks for this.

[2015-09-16 22:02] mathetos commented on #39
Lastest PR passes all Travis tests: https://github.com/WordPress/twentysixteen/pull/199

[2015-09-16 22:04] karmatosed commented on #39
Updated all labels to reflect the fact we're going to have this in. We now need a confirmation test before merge.

[2015-09-17 01:56] eduardozulian opened #200 "Include Content Bottom Sidebar on 404.php"
On an instalation without any widgets added to the main sidebar, this is how `404.php` looks like:

![captura de tela 2015-09-16 as 22 33 22](https://cloud.githubusercontent.com/assets/1136160/9922894/69e69c92-5cc4-11e5-8cbb-8d0dfa4fc272.png)

It's not bad at all. However, by introducing the `content-bottom` sidebar, we could have a more helpful `404.php`:

![captura de tela 2015-09-16 as 22 41 13

[2015-09-17 12:26] dev-xiligroup commented on #188
After some research, it is due an unwanted concatenation =  ticket https://core.trac.wordpress.org/attachment/ticket/33427/33427.diff
but not yet fixed in WP 4.3.1
Cheers

[2015-09-17 13:14] karmatosed commented on #200
I'm going to flag for design review, but I'm not personally super keen we add a new sidebar in. I think having a minimal 404 page isn't a bad thing.

[2015-09-17 16:05] tywayne opened #202 "Typo in docs for twentysixteen_custom_header_args filter"
Typo found in docs for `twentysixteen_custom_header_args` filter.
This is found in `/inc/customizer.php`. PR incoming.

[2015-09-17 16:51] eduardozulian commented on #200
I don't think it's bad either, @karmatosed.

Maybe I was misunderstood, but it's not a new sidebar rather than the one that can be presented on post and pages. Hence, since both widget areas (_Content Bottom 1_ and _2_) are optional, we are still leaving this – the ability to provide some helpful content about the website – up to the user.

Thank you!

[2015-09-17 17:04] #202 closed

[2015-09-17 17:04] karmatosed opened #204 "Long non-breaking categories cause visual issue."
When using Safari I see the following:

![img_0201](https://cloud.githubusercontent.com/assets/253067/9940246/9387990a-5d66-11e5-84c1-1fbdee0eb25c.PNG)

[2015-09-17 17:11] karmatosed commented on #204
If anyone could give me a sanity check on this it would be great. Trying to work out if an issue on all for iOS9.

[2015-09-17 17:19] karmatosed commented on #204
Updating title and addding reason of long categories:

![file 17-09-2015 18 18 42](https://cloud.githubusercontent.com/assets/253067/9940586/ad66c380-5d68-11e5-800a-860d3ba4bc4c.png)

[2015-09-17 17:21] karmatosed commented on #175
Tested: iPhone 6 iOS9, iOS8 - landscape and portrait
1 bug filed.

[2015-09-17 17:29] iamtakashi commented on #200
I actually like this idea. We already have the widget areas and I can see it can be helpful for the page with just one line addition to the template.

[2015-09-17 17:31] karmatosed commented on #200
Ok, cool let me merge it then. Thanks for the idea @eduardozulian

[2015-09-17 17:31] #200 closed

[2015-09-17 17:34] karmatosed commented on #175
Tested: [browserstack] Windows Phone Nokia Lumia 930 8.1

![bs_winphone_mobile_nokia lumia 930-8 1-1080x1920](https://cloud.githubusercontent.com/assets/253067/9941033/bcb52992-5d6a-11e5-9aab-17d9054bc018.jpg)

[2015-09-17 17:41] karmatosed commented on #176
Tested: [browserstack] Windows Edge

![bs_win10_edge_20 0](https://cloud.githubusercontent.com/assets/253067/9941209/aeb9cda6-5d6b-11e5-84e1-5560634a2ddb.jpg)

[2015-09-17 17:45] karmatosed opened #205 "IE11 menus and scrollbars"
In most browsers no extra scrollbars appear on going to the sub menus. However, on IE 11 they appear both horizontally and vertically. This may be something we accept as IE behaviour, however flagging as doing browser testing and it's specific behaviour to IE.

To replicate, just view in IE11 and go to sub menus as shown in screenshot. My screen was a Macbook 13 using Browserstack.

![bs_win10_ie_

[2015-09-17 17:45] karmatosed commented on #176
Tested: [browserstack] Windows IE 11

1 bug found and reported.

![bs_win10_ie_11 0 1](https://cloud.githubusercontent.com/assets/253067/9941371/cee73dec-5d6c-11e5-8916-40cc043aad16.jpg)

[2015-09-17 17:49] iamtakashi commented on #205
We've talked about this in #112 and #123. And we agreed as a design limitation.

[2015-09-17 17:49] #205 closed

[2015-09-17 17:51] karmatosed commented on #205
Ok, noting for records this is also in Opera incase it's reported later.

[2015-09-17 17:52] iamtakashi commented on #186
This is nothing to do with escaping. The PR from Sergey makes sense to merge. So that we don't have duplicated strings with a same context.

[2015-09-17 17:56] karmatosed commented on #176
Tested: [browserstack] Windows Opera 31
![bs_win10_opera_31 0](https://cloud.githubusercontent.com/assets/253067/9941512/bbe057f0-5d6d-11e5-9237-d86faab218fe.jpg)

[2015-09-17 17:57] iamtakashi commented on #205
It will happen on any browser.

[2015-09-17 18:02] karmatosed commented on #186
I was more thinking to put all together, but totally fine. I'll merge this now.

[2015-09-17 18:03] #186 closed

[2015-09-17 18:29] eduardozulian commented on #200
Glad I can help. :smile:

Thanks, @karmatosed and @iamtakashi.

[2015-09-17 18:33] #183 closed

[2015-09-17 19:08] karmatosed commented on #176
Tested: Safari Mac

[2015-09-17 19:08] karmatosed commented on #176
Tested: Chrome Mac

[2015-09-17 19:08] karmatosed commented on #176
Tested: Opera Mac

[2015-09-17 19:08] karmatosed commented on #176
Tested: Firefox Mac

[2015-09-17 19:09] karmatosed commented on #176
Tested: iPad Mini Retina

[2015-09-17 19:09] karmatosed commented on #175
Tested: iPad Mini Retina iOS8 - landscape and portrait.

[2015-09-17 19:53] #39 closed

[2015-09-17 23:29] iamtakashi opened #209 "Need a better selector than article[class^=post-]."
This was pointed by @peterwilsoncc with #53. But [as discussed in the meeting](https://wordpress.slack.com/archives/core-themes/p1442247547000588) we decided to not adding a custom class in the theme, and instead we're going for `.site-main > article` as a replacement of `hentry`.

Related core tickets: https://core.trac.wordpress.org/ticket/32336

[2015-09-17 23:54] #209 closed

[2015-09-18 04:24] LateButEarly commented on #204
This seems to be related to this bug. I believe I have a fix, but haven't contributed to a theme before, so please let me know if this is in the wrong place. A possible solution is underneath the bug confirmation.

![long_category_twentysixteen](https://cloud.githubusercontent.com/assets/6570433/9951866/b36b08c2-5d9a-11e5-9e27-f28041834540.png)

Possible solution:

![fix_long_category_names_twenty

[2015-09-18 09:45] iamtakashi opened #212 "Require v4.3 as the minimum"
I'm sure we will make them theme requires v4.4-alpha as minimum later because a new core theme shouldn't be facilitating use of older core versions, but since the theme now has `singular.php`, let's make it 4.3 as the minimum because `index.php` needs to be bigger to make the theme work as intended without `single.php` and `page.php`.

[2015-09-18 15:31] tywayne opened #214 "Inconsistent use of $ to designate a jQuery object in variable name"
While I do not believe it is listed in any official capacity as a coding standard, it is common to prefix a variable name with `$` to designate it as a jQuery object. This is currently used inconsistently.

Example in [L9 of functions.js](https://github.com/WordPress/twentysixteen/blob/master/js/functions.js#L9) shows the use of `$body`, but no prefix on `masthead` (and others).

We should either

[2015-09-18 15:34] maharzan commented on #32
PR refreshed.

[2015-09-18 15:46] #212 closed

[2015-09-18 16:37] ianstewart commented on #17
My two cents on microformats changes:
- Does it appear to meet the spec? If yes: Great!
- Does a validator validate it? If yes: Great! http://microformats.org/wiki/validators
- Does it break anything to make a change? If no: Great! (People use them for styling hooks so tough in old themes.)

[2015-09-18 17:04] dshanske commented on #17
Wonder if I should propose adding microformats2 to the theme.

[2015-09-19 00:21] maharzan commented on #204
Isn't this an edge case? What are some more realistic category/tag names?

[2015-09-19 01:32] #32 closed

[2015-09-19 03:49] brentlogan opened #215 ".entry-content width for pages match that of posts"
I think it would simplify adoption of Twenty Sixteen if the page template structure matched that of posts. For the middle width screens, this would mean:

Title aligned with the left
Wide featured image
.entry-content narrower for ease in reading

[2015-09-19 06:54] SeanChDavis commented on #204
@maharzan I don't think it would be an edge case for everyone. Check out the discussion that broke out on my now merged and closed PR/issue. #34

[2015-09-19 07:56] maharzan commented on #204
Okay.. I thought they were regarded as edge cases when a similar case was raised for titles..

[2015-09-19 11:43] iamtakashi commented on #215
What exactly the range of screen size do you mean by the "middle screen size"?

What about larger screen than the "middle screen size"?

It's worth noting that not everyone uses featured image. I don't want featured image to be a critical layout element.

If you're suggesting design change, it'd be helpful to attach screenshots of how it'd look so that we can see exactly what you're suggesting.

[2015-09-19 15:43] ehti commented on #175
Tested: HTC One XL, Android 4.2.2, Sense 5.0 using HTC Browser. Portrait and landscape.

Unexpected menu button position? Rest of the behavior was fine. Also, menu button position was the expected top-right when using Chrome on this same phone.

![image](https://cloud.githubusercontent.com/assets/6505293/9976916/71fe9434-5f0d-11e5-9aec-0b01efb59192.png)

![image](https://cloud.githubusercontent.co

[2015-09-19 18:18] iamtakashi commented on #175
The above, I assume the HTC browser doesn't support the flex box or needs the old syntax. However, I don't think this is a big deal for this browser as long as tapping the button displays the menu.

[2015-09-19 18:21] ehti commented on #175
Indeed, the menu is displayed just fine on tapping.

[2015-09-19 18:23] iamtakashi commented on #175
Ok, cool. Thanks for testing!

[2015-09-19 18:37] iamtakashi opened #219 "Author Title in Biography Should be h2"
It's currently `h3` and if we check document outline, it reports we have a missing heading.

![screen shot 2015-09-19 at 19 30 17](https://cloud.githubusercontent.com/assets/908665/9977592/9f52702a-5f05-11e5-923f-8be981fd4d06.png)

With ` h2`:
![screen shot 2015-09-19 at 19 26 28](https://cloud.githubusercontent.com/assets/908665/9977594/b23683c0-5f05-11e5-9d67-48cdf53eeaf7.png)

[2015-09-19 20:13] iamtakashi opened #221 "Change Reply Title Heading to h2 with the New Args in 4.4"
Reference: https://core.trac.wordpress.org/ticket/33775

This was suggested by afercia ( *Hi!* ) in the trac.

Now `title_reply_before` and `title_reply_after` are available in 4.4 so that we can avoid missing heading in some cases.

Before:
![screen shot 2015-09-19 at 21 09 53](https://cloud.githubusercontent.com/assets/908665/9977967/e8a424a0-5f12-11e5-8c07-c6d69ae820a0.png)

After:
![screen sho

[2015-09-19 20:30] reddhound opened #223 "Search button as it is read by NVDA?"
First of all, thank you for the AMAZING, awesome accessibility for WordPress themes -- it is so greatly appreciated.

As a NON-EXPERT user of assistive technology, I found myself a little confused over "how" the search function was handled by NVDA 2015.2 on the Twenty Sixteen theme.  Search was (I believe) correctly read out during the first pass, but there was a follow-on announcement as a "compl

[2015-09-19 21:43] ehti opened #224 "Static front page displaying "Content Bottom""
By default, the Content Bottom sidebars are only set to show on indivual posts or pages. They don't appear on the front page either, but when it's set to a static front page, they do show up. Pull request incoming for this, please review.

Also, content bottom sidebar was recently allowed to be displayed on 404 page, so why not on category and archive pages as well? If you approve it, can open a s

[2015-09-19 22:16] tywayne commented on #214
Meeting discussion - https://wordpress.slack.com/archives/core-themes/p1442592104000766

Also related - https://wordpress.slack.com/archives/core/p1441922197000839

[2015-09-19 22:25] iamtakashi commented on #224
As the name suggests, the widget areas are meant to only appear the bottom of single content. The idea is simple — suggesting users where to go after they consumed the single content. Therefore, it makes sense to appear if a static page is set to be the front page. They are different from so called "footer widgets" and are never meant to appear on a page where there is a list of posts — posts page

[2015-09-19 22:25] #224 closed

[2015-09-19 22:37] ehti commented on #224
I get it now, thanks. My thought behind it was that often a static front page is used to give a blog more of a "website" look, came across this request quite a few times on support forums.

[2015-09-20 09:01] karmatosed commented on #223
Sure, lets get @davidakennedy to give an opinion on this? Hope that's ok DK :)

[2015-09-20 09:05] #221 closed

[2015-09-20 09:05] karmatosed commented on #219
Merged to fix.

[2015-09-20 09:05] #219 closed

[2015-09-20 09:07] karmatosed commented on #215
I think what is being suggested would be to have the content full width, but absolutely agree it would be great to see a mockup of this so or screenshots of an issue. It's hard to make sure we're on same page otherwise @brentlogan.

[2015-09-20 09:09] karmatosed commented on #6
Noting that we have this PR: https://github.com/WordPress/twentysixteen/pull/226

[2015-09-20 16:39] ehti opened #230 "CSS properties order fix & TRBL"
Some CSS properties were not in alphabetical order, pull request incoming.

Also, if I'm not wrong, the properties which require Top/Right/Bottom/Left values like margin/border are being ordered using the [TRBL](https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/#property-ordering) standard, correct? That's what I noticed, so corrected those which were deviating from this

[2015-09-20 17:21] karmatosed commented on #230
I'm not convinced that you should change right, left, top, bottom like this. Lets get a second opinion, @iamtakashi what do you think?

[2015-09-20 17:51] ehti commented on #230
Sure. And I'd like to elaborate a bit further please. Majority of the properties requiring top/bottom/right/left are currently in the TRBL order, _not_ alphabetical order. For example:

[code]

**Few** of them were deviating from this and were instead in alphabetical order, causing ambiguity on which order to follow. Example:

[code]

Changed these into TRBL order. I'll be happy to adjust accordin

[2015-09-21 01:16] brentlogan commented on #215
Sure. Here is a sample post with a featured image. Notice how the text is indented from the left edge. I realize that the profile pic, title, and other post meta fits in the margin, but the narrower line width makes the text easier to read. (Note: to be able to capture more, I set the browser's zoom to 75%.)

![post](https://cloud.githubusercontent.com/assets/14060692/9983917/c4c63fa0-5fc1-11e5-9b

[2015-09-21 09:12] iamtakashi commented on #215
Thanks for the mockup. I see now what you're suggesting.

I actually have thought about this beginning. But I've never liked it for pages.

With a featured image, it looks "OK-ish" but I don't want a featured image to be an essential element for a layout because not everyone use it, and without a featured image and the edit link which only admins can see, this is how it'd look.

![screen shot 2015

[2015-09-21 09:23] iamtakashi commented on #230
I like the TRBL order for the case we have more than one setting for a same property because it has the same logic as a shorthand.

I usually do this way but I obviously overlooked.

[2015-09-21 09:25] karmatosed commented on #215
@brentlogan thanks for your contribution, but this falls into the realm of being a design decision. In light of the design feedback, lets close this.

[2015-09-21 09:25] #215 closed

[2015-09-21 09:26] #230 closed

[2015-09-21 13:44] ihorvorotnov opened #233 "San Francisco font for iOS and OS X"
We have Helvetica Neue as a fallback font for Montserrat on iOS / OS X. However, since iOS 9 and OS X El Capitan, watchOS 2, and tvOS [Apple switched to its new system font San Francisco](https://developer.apple.com/fonts/). Twentysixteen is going to be used in 2016, should we consider  replacing Helvetica Neue with San Francisco? Or adding San Francisco before Helvetica Neue.

What do you think?

[2015-09-21 15:15] davidakennedy commented on #223
Hi there! Thanks for reporting this. :smile:.

As  far as I can tell, this is expected behavior. The extra bit of output you hear is the screen reader reading out the ARIA landmark roles. You're hearing extra because you're inside of a `search` role, nested inside of a `complementary` role. The search button is hidden off screen, so that's why you don't see it visually, but it's there for users wh

[2015-09-21 15:19] karmatosed commented on #233
I personally don't think so, but lets get @iamtakashi to give a design view on this. To me, that doesn't mean we should default to using San Francisco on iOS devices.

[2015-09-21 15:26] ihorvorotnov commented on #233
Anyway, we're talking about fallback font. The main font is Montserrat, so it's not really a big issue, at all. I've had a chance to work with SF font today, and found it awesome and way better than Helvetica (which is actually one of my favorites for almost two decades). What I find interesting - SF has Display and Text variants served dynamically, one of them is optimized for small font size - i

[2015-09-21 15:39] karmatosed commented on #233
It absolutely is a great font. I think for me, fallbacks are nice as being uniform not platform specific. However, lets get design feedback on this.

[2015-09-21 15:52] iamtakashi commented on #233
The choice of Helvetica Neue was a progressive enhancement and if we're taking this further we could _replace_ the fallback to San Francisco because it'll be the default system font from OS X El Capitan.

So like... `font-family: Montserrat, "San Francisco", sans-serif;` ?

In the case where Montserrat is disabled then, new Mac will use San Francisco, old Mac use Helvetica, and Windows use Arial.

[2015-09-21 15:54] ihorvorotnov commented on #233
In this case both Helvetica and San Francisco are bad choices, because they are standard for Apple's OSes. There's no Helvetica / Helvetica Neue on Windows at all, and, AFAIK, on Ubuntu, Mint and some other Linux systems :)

[2015-09-21 15:56] ihorvorotnov commented on #233
That's exactly what I thought of when started this issue. In this case we have the best fallback coverage in case Montserrat is missing (or missing subset - cyrillic, vietnamese etc).

P.S.: and not only new Macs will use SF, all iPhones and iPads upgraded to iOS 9.

[2015-09-21 16:12] karmatosed commented on #214
We decided in meeting to go with having none to be consistent. We could do with a patch for this as a result.

[2015-09-21 16:15] karmatosed commented on #233
Noting that whatever we decided needs a lot of testing. It's to me a little late for little gain. It needs properly restesting on all devices if this is the case and it's done. That's an undertaking.

[2015-09-21 16:28] ihorvorotnov commented on #233
@karmatosed I'm sure there's no need for any additional testing. It will only force iOS 9 (millions of  iPhones and iPads in 2016) and El Capitan to use San Francisco and its design is very close to Helvetica, so no additional spacing / sizing issues here. If SF is not available, it will default to system sans-serif, which is Helvetica Neue / Helvetica for older Apple platforms, Arial for Windows,

[2015-09-21 16:59] brentlogan commented on #215
Takashi, thanks for considering my request.

[2015-09-21 17:11] afercia opened #235 "Accessibility: update the screen-reader-text rule to reset word-wrap"
As already done in core, see https://core.trac.wordpress.org/changeset/32509 the `screen-reader-text` rule needs a `word-wrap: normal !important;` declaration. That's because elements may inherit `word-wrap: break-word;` from ancestors and that makes some screen readers read out separated words as if they were one single word.
For example, this currently happens in the Search widget which inherits

[2015-09-21 18:06] afercia opened #236 "Accessibility: disambiguate landmarks with same role"
When navigational landmarks have the same role, for example "navigation", they'd need a label to disambiguate them. See for example what was done in core, where the admin screens have two `role="navigation"` and they have different `aria-labels`: "Main menu" and "Toolbar".
Not sure this should be done for all the complementary roles too, but I'd recommend it for navigation.

[2015-09-21 18:07] karmatosed commented on #233
We should test everything :)

[2015-09-21 18:26] ihorvorotnov commented on #233
Agree :+1:

[2015-09-21 20:54] davidakennedy commented on #236
I agree with this, so I made a pull request. :smile: This is something we encourage in the accessibility-ready requirements, but I missed it during my initial review. This is a good way to make the menus more specific and useful for users with assistive technology.

Like I mention in my PR, we may want to change the wording.

[2015-09-21 21:08] davidakennedy commented on #235
This is a good catch, @afercia! And probably something we should push back upstream to _s.

[2015-09-21 21:12] #214 closed

[2015-09-21 21:12] #235 closed

[2015-09-21 21:13] #236 closed

[2015-09-21 22:03] #7 closed

[2015-09-22 08:39] maharzan opened #250 "Should the white background be limited to 1200px or so?"
On big screens, the white background extends to full width with the black background (which acts like border). Since we can use background images but this full stretch doesn't allow the site to show the background image if you want to use it. Maybe limiting the white background to 1200px or some number and centering that background along with the content might help those people who want to show th

[2015-09-22 08:49] iamtakashi commented on #250
Thanks for your suggestion but my vision with the background is that it works like a thick border. This is a design decision since the beginning and I'm not going to change it from now.

[2015-09-22 11:55] austin-2015 commented on #223
Thank you, David!  I appreciate the second look, for sure!

Full disclosure, I'm probably way too close to a personal "scenario" of expectations, due to one friend I'm working with.  He has multiple disabilities, including low vision and poor motor skills.  Though not blind, he's been looking for a text-to-speech capability, most of which cost a lot of money.   As NVDA is free, we were considering

[2015-09-22 12:07] #250 closed

[2015-09-22 14:42] RRWD opened #253 "Accessibility user test results"
Accessibility usertest: Twenty Sixteen
https://make.wordpress.org/accessibility/2015/09/22/accessibility-usertest-twenty-sixteen/

## Summary
The main opinion: This theme tested pretty well!
No drastic errors. Yay!

**First**: can someone reproduce Jeff’s error?

**Missing context for sighted users** (maybe also a usability issue): The author, category, and tag links in the post meta simply state

[2015-09-22 18:52] davidakennedy commented on #253
Thanks for filing this issue @RRWD, and for all the test wrangling.

I think it's best to break these up into separate issues so we can discuss each on its own. I'll work on that.

Regarding the page navigation issues: That may be better as a Core ticket. It's using `the_posts_pagination`, like Twenty Fifteen did. We can certainly fix within the theme, but I'd rather see work put into Core to fix

[2015-09-22 19:26] davidakennedy commented on #253
I'm not seeing this. I see that there is hidden text for each of the post meta items. I see them on archive and single pages. Is there another place where they're missing? Worth noting that the hidden text is not inside the links, but before it. But I think that's fine.

[2015-09-22 19:35] davidakennedy opened #256 "Accessibility: Add More Advanced Keyboard Navigation to Dropdown Navigation"
A suggestion from #253. This would be a nice enhancement, and a step further than what has been done in past default themes.

Currently, keyboard users can get to all the links in dropdown menus, but it's harder to jump around from link to link, sub-item to sub-item, especially with larger menus. The current way is solid, but this would make it better. We have a pattern for this in the Accessible

[2015-09-22 20:06] #190 closed

[2015-09-22 21:20] tywayne opened #257 "offsetLeft() in functions.js is not called correctly on window resize"
Looks like this may have just been overlooked in #153. This function was reworked to process both images and blockquotes, and now requires a `param` argument to really do anything.

When `offsetLeft` is called on window resize [here](https://github.com/WordPress/twentysixteen/blob/master/js/functions.js#L193), it isn't passed any arguments, thus isn't doing anything.

[2015-09-22 23:54] brentlogan opened #259 "screen-reader-text edit span visible"
I now see the screen reader text after the edit link for a post or page, as shown below.

![bug](https://cloud.githubusercontent.com/assets/14060692/10034982/7b6ad7fa-614a-11e5-833c-f939480fb97b.png)

[2015-09-23 01:34] iamtakashi commented on #257
Good catch! Thanks for spotting it.

[2015-09-23 01:35] #257 closed

[2015-09-23 02:03] tywayne opened #261 "Travis CI checks are failing"
First one was introduced in a0fb192
[code]

Not sure why this started failing, this section hasn't been changed in a while from what I can tell
[code]

[2015-09-23 03:21] kraftbj commented on #259
Caused by https://core.trac.wordpress.org/changeset/34444 . The text is now escaped with `esc_html`, which replaces the `<`, `>`, etc with the html entities.

[2015-09-23 04:20] staylor commented on #259
I can revert those `esc_html()` calls

[2015-09-23 04:25] staylor commented on #259
Reverted. Sorry. https://core.trac.wordpress.org/changeset/34452

[2015-09-23 06:12] rianrietveld commented on #253
@davidakennedy I think what Jeff means is that by just showing names, it may be unclear for **sighted** users that they are usernames, categories and tags. It's not really an accessibility issue more a usability issue.
![2016-1](https://cloud.githubusercontent.com/assets/2351479/10038760/6d996828-61ca-11e5-97ae-a30d84aa0a9c.png)
![2016-2](https://cloud.githubusercontent.com/assets/2351479/10038761

[2015-09-23 06:15] rianrietveld commented on #253
Actually, beside a few minor focus/color issues this theme is absolutely awesome.
Thanks everyone!

[2015-09-23 08:23] ehti opened #263 "Comment typo in sidebar-content-bottom.php for is_active_sidebar()"
Small, but nonetheless...

`// If we get this far, we have widgets. Let do this.`
to
`// If we get this far, we have widgets. Let's do this.`

[2015-09-23 10:55] ihorvorotnov commented on #261
The last issue with `template-tags.php` is strange. I've checked some very old commits, even pre-Travis - this extra blank line is there. However, it wasn't reported as error until recently.

[2015-09-23 10:55] #259 closed

[2015-09-23 11:00] #263 closed

[2015-09-23 11:01] #261 closed

[2015-09-23 14:43] iamtakashi commented on #204
I'll add the `word-break` _a little_ more universally with the PR above. I think it's pretty safe because many of elements already had the rule. Let's see if it will cause any issues.

[2015-09-23 14:43] #204 closed

[2015-09-23 15:00] iamtakashi commented on #253
I think each post meta except category and tag is pretty self-explanatory. How about adding hashtag, `#` to each tag so that there is clear difference between categories and tags?

[2015-09-23 15:21] LateButEarly commented on #204
Sounds good @iamtakashi

[2015-09-23 15:41] LateButEarly commented on #253
@iamtakashi :+1: I like that idea. I feel like users would easily understand that a hashtag is related to a tag.

[2015-09-23 15:50] brentlogan commented on #253
That's something I've done for a while. Simple CSS:

[code]

[2015-09-23 16:10] iamtakashi commented on #253
Yep, it's easy and it would be almost universally recognised as tag. I'll make a PR and let's hear what people think about it.

[2015-09-23 16:14] samikeijonen opened #267 "Genericons update to 3.4"
Genericons latest version is now 3.4. I believe that there is version 3.3 in the theme.

[2015-09-23 16:17] joedolson commented on #253
I think a hashtag is clear for context, but we should check how it's read by screen readers. I also note that the hashtag will only appear before the first word of a tag, so multi-word tags might look a little strange.

[2015-09-23 16:28] iamtakashi commented on #253
A good point about screen readers. The PR above is first attempt without checking how it's read by screen readers. We do need to test it.

Before:
![screen shot 2015-09-23 at 17 16 48](https://cloud.githubusercontent.com/assets/908665/10051198/52e92e2a-6218-11e5-83c2-7bbe41a04c2b.png)

After:
![screen shot 2015-09-23 at 17 17 11](https://cloud.githubusercontent.com/assets/908665/10051207/5939431e-

[2015-09-23 16:41] afercia commented on #253
Tested "on the fly" with screen readers while discussing this on Slack: at least Firefox + NVDA and VoiceOver read the hash as "number", depending on screen reader punctuation settings and way to navigate the content (arrowing or tabbing etc)

[2015-09-23 18:40] grappler opened #269 "Background for `ins` tag to light in dark colour scheme"
When a text is wrapped in the `ins` tag the background is too light in the dark colour scheme.

![image](https://cloud.githubusercontent.com/assets/1785641/10054777/2ea1af5e-6233-11e5-9826-2ffe3eb16f5d.png)

See line 446 in the style.css

[2015-09-23 20:59] karmatosed commented on #269
@iamtakashi what do you think? I think it's a valid suggestion.

[2015-09-23 21:00] karmatosed commented on #267
Sounds like a great idea. Could you work up a PR for us?

[2015-09-23 21:09] iamtakashi commented on #269
Yes. We should alter the the default style for the inserted text so that we don't need to introduce a new color. I'll think about it.

[2015-09-23 21:23] iamtakashi commented on #253
Would adding `speak: none" help to make sure it won't be read?

[2015-09-23 21:47] iamtakashi commented on #6
OK, it should look ok in old IEs. The intended look in IE8 and 7 is basically the style we use for portrait tablets.

![twentysixteen-ie8 7](https://cloud.githubusercontent.com/assets/908665/10059751/b4faa07c-6244-11e5-9ccb-f2cfa72ea97e.png)

I'll close this issue as the work for the ticket is done but we can file new issues if we find bugs.

[2015-09-23 21:47] #6 closed

[2015-09-24 01:06] iamtakashi commented on #269
With the PR:
![screen shot 2015-09-24 at 02 02 41](https://cloud.githubusercontent.com/assets/908665/10063011/d3575a12-6260-11e5-8c97-3b55d25b1339.png)

It also stays visible on other color schemes.

[2015-09-24 01:07] #269 closed

[2015-09-24 05:54] samikeijonen commented on #267
Seem like this is already done in commit 4de01d829c91f837ec20ddc279db73708a7acacc.

[2015-09-24 11:29] iamtakashi commented on #267
The version number in functions.php also needs to be changed. https://github.com/WordPress/twentysixteen/blob/master/functions.php#L224

[2015-09-24 11:32] samikeijonen commented on #267
Sure. @maharzan can you do that in the same PR.

[2015-09-24 11:44] maharzan commented on #267
Sure. @samikeijonen. Just doing that now.. Sorry I didn't see that part.

[2015-09-24 11:46] maharzan commented on #267
Done. https://github.com/WordPress/twentysixteen/pull/274

[2015-09-24 12:09] #267 closed

[2015-09-24 13:26] davidakennedy opened #276 "Accessibility: Low Color Contrast for the border or background colors"
The border color on input fields has low contrast. The color contrast for the border or background colors could be increased.

The border color `#e8e8e8` combined with the background-color `#f7f7f7 ` makes it hard to distinguish between the field and the background of the site `#ffffff`. The contrast for each of those is  1.23:1 and 1.07:1. This is less problematic with the comment fields because

[2015-09-24 13:38] davidakennedy commented on #253
Hey @RRWD, what do you mean by:

How does that need to change? Seems solid to me.

[2015-09-24 13:54] maharzan opened #278 "Sub Menu bug"
I just found a menu issue.

On your desktop, if you click the small arrow on the menu item, it opens up the sub menu, but then if you hover to other menu item, it shows that menu item too. You have to click again to hide that earlier submenu. Here is a screenshot.

![menu](https://cloud.githubusercontent.com/assets/883993/10075153/f04215ac-62f3-11e5-8cd9-a754d8e201f2.png)

[2015-09-24 13:59] davidakennedy commented on #253
I've broken out any a few of these issues into separate issues. The ones I haven't either are not issues, or have already been discussed here. Hopefully, this will make it easier to knock these out.

[2015-09-24 14:14] iamtakashi commented on #278
I can't replicate this issue.

I can't "click" the small arrow and it shouldn't let me. Are you sure you don't have any local modification on your copy?

[2015-09-24 14:35] davidakennedy opened #279 "Accessibility: Bring Search Submit in View on focus"
Originally brought up in #253:

In an ideal case, the search submit button should be brought into view on `:focus`. Because if a keyboard user focuses on it, they can get to it, but can't see it. This is not a concern for screen reader users, because they can hear it, which is what they need. So three options here to make this better for more users:

1. Just have the button not hidden off screen,

[2015-09-24 14:51] rianrietveld commented on #253
@davidakennedy What I mean is that the toggle buttons don't get enough visual focus (no outline like the menu-items) and that the menu buttons stayed in "active focus" mode when you enter the menu. I have made a youtube to demonstrate this: https://www.youtube.com/watch?v=hiTEBvBPE1U

[2015-09-24 14:53] rianrietveld commented on #253
Also I think the active page in the Page navigation should get a better focus, not only a colour change form blue to black.
![page-navigation-1](https://cloud.githubusercontent.com/assets/2351479/10076606/b075dd26-62dc-11e5-9397-2007e0638184.png)

[2015-09-24 16:49] iamtakashi commented on #279
I can live with this idea as long as the button is a magnified glass icon and is inside of the input field. It wouldn't be an issue, would it?

[2015-09-24 17:45] davidakennedy commented on #223
Some of this is an issue with the search form, and its markup, provided by Core. A ticket has been created: https://core.trac.wordpress.org/ticket/33952

We can probably close this, and attack it Core.

[2015-09-24 17:50] davidakennedy commented on #253
@RRWD I see, you're talking about the menu toggle's `:focus` state when it's active, not its initial `:focus` state. :smile: Thanks for the explanation. That can be fixed.

[2015-09-24 19:17] #223 closed

[2015-09-24 19:28] iamtakashi commented on #276
Search has the placeholder as clearly visible as a label though.

[2015-09-24 23:39] davidakennedy commented on #253
I [tested this](https://github.com/WordPress/twentysixteen/pull/273), and it does not work. I still hear the CSS generated content in both Safari and Chrome with Voiceover.

My preference would be to leave this as it was originally. It would be ideal to have some visible text in that area that says "Post Info" or something like that. But it's okay not to as well. The way it's grouped also creates

[2015-09-24 23:43] davidakennedy commented on #279
That is a good approach and would work really well.

[2015-09-25 04:58] maharzan commented on #278
Hover over the menu with a mouse, it opens up the sub menu, then click on the small arrow. You will see the menu is now shown, if you move the mouse away, the menu still shows. Hover to another menu (with submenu) and there you have 2 submenus showing. The copy I have is latest.

[2015-09-25 05:04] maharzan commented on #278
I am using Chrome on OSX Yesomite 10.10.1

[2015-09-25 05:06] maharzan commented on #278
Interestingly, it doesn't seem to happen on Safari.

[2015-09-25 05:25] iamtakashi commented on #278
That's really weird. I can't replicate.

The arrow is a pseudo element in the menu item anchor, therefore when I click the arrow, I'm clicking the menu item and it takes me to the page.

It sounds like the submenu fix in `functions.js` is not working for you as expected. https://github.com/WordPress/twentysixteen/blob/master/js/functions.js#L73

But I'm not sure why. Let's hear if anyone can repli

[2015-09-25 05:39] maharzan commented on #278
Ok I think I found what might be happening. Instead of a real page, I have a # menu link on the parent menu. Thats why its seems to be clickable. Can you try with that?

[2015-09-25 05:53] iamtakashi commented on #278
Okay... then that's expected. I think it would happen in Twenty Fourteen and Thirteen.

I don't think this is a valid bug or an extreme edge case. (Why would you want to have a menu item with a hash?)

[2015-09-25 05:59] philiparthurmoore commented on #278
Many, many reasons. I often do this when organizing menus or sites and the top-level menu item is something like Themes, Plugins, Categories, etc. Lots of use cases for having a hash menu link.

[2015-09-25 06:33] maharzan commented on #278
Usually, when you don't want to redirect people to another page on the parent menu, people use #. This is especially valid on touch devices when you want to open a sub menu rather than go to a redirect loop and never open the sub menu. We have had that case by quite a number of users in our forums.

[2015-09-25 07:00] rianrietveld commented on #253
@davidakennedy +1, we discussed this in Slack and in this case the cure is worse than the issue

[2015-09-25 12:17] iamtakashi commented on #278
To me, that's a hideous hack for themes that don't bother to fix the issue on touch devices. I know WordPress.com suggests this as a workaround but if people care to fix themes users don't need do that kind of hack.

But this is not the case in this theme. That's why we have submenu fix on touch devices. Twenty Thirteen and Twelve have similar fix too.
https://github.com/WordPress/twentysixteen/bl

[2015-09-25 12:19] #278 closed

[2015-09-25 12:26] afercia commented on #279
I like this idea (n. 2) and maybe worth experimenting it also in the admin see https://core.trac.wordpress.org/ticket/31818

[2015-09-25 17:12] davidakennedy commented on #279
I tested the PR, and it works perfectly, and harmonizes well with the other button styles. Markup looks good too. :+1:

[2015-09-25 17:38] iamtakashi commented on #279
Thanks for testing. Let's go with this for this time.

[2015-09-25 17:38] #279 closed

[2015-09-25 18:13] iamtakashi commented on #233
As we discussed in <a href="https://wordpress.slack.com/archives/core-themes/p1443199122001159">#core-themes</a> today, it is nice to have but just is too close to the merge and we don't have enough time to test. So, we've decided to leave as it is.

Thanks for the suggestion anyway.

[2015-09-25 18:13] #233 closed

[2015-09-25 18:42] ihorvorotnov commented on #233
Makes sense. Feel free to add it later or ping me when you're ready, I'll send a PR.

[2015-09-25 18:45] tywayne commented on #256
I worked on this a little bit today, using the linked pattern above as a starting point, and have a solution locally that allows using arrow keys to move around, as well as 'ESC' to get out of a sub-menu.
[Example showing this in action shown here.](https://cloudup.com/c6vN5wEl2bA)

This covers the first and third item in that list, but before I submit a PR, I wanted to get your input on the secon

[2015-09-25 21:38] iamtakashi commented on #253
I'm closing this thread as the issues reported here are now either fixed, being discussed in separate tickets.

[2015-09-25 21:38] #253 closed

[2015-09-25 21:44] iamtakashi commented on #276
We discussed in [#core-themes](https://wordpress.slack.com/archives/core-themes/p1443197846001095) today. I'm going to make a patch with the suggestion.

[2015-09-25 21:47] afercia commented on #256
This will work for keyboard users who don't use a screen reader but won't work for screen reader users unless we use "role=application" on the whole menu. And "role=application" should be used only for real ARIA widgets, I wouldn't recommend to use it here,
The reason why it won't work it's because screen readers intercept key presses and there won't be a "keydown" event when pressing the arrow ke

[2015-09-25 23:10] iamtakashi commented on #276
I've increased the contrast for both secondary text color and border color.

Secondary text is now #686868 and the contrast ratio is the following.
4.55:1 — When it's used for placeholders on #e8e8e8
5.57:1 — When it's used for labels on #ffffff

[2015-09-25 23:10] #276 closed

[2015-09-25 23:15] tywayne opened #294 "Insufficient check for existence of #menu-toggle in functions.js"
The `menuToggle` variable is set with `menuToggle = masthead.find( '#menu-toggle' );`
This will set `menuToggle` to a jQuery object whether the `#menu-toggle` element was found or not.

Later, this check is found:

[code]

This is meant to return early if `#menu-toggle` doesn't exist, but since `menuToggle` is an object, it is always truthy. We should be checking for `menuToggle.length`

[2015-09-26 00:09] iamtakashi commented on #294
Good catch!

[2015-09-26 00:10] #294 closed

[2015-09-26 00:32] tywayne opened #296 "Insufficient check for existence of #site-navigation in functions.js"
Same as in #294  -  just found another instance of it. Sorry, should have caught it with the first one, PR incoming.

[code]

[2015-09-26 00:42] iamtakashi commented on #296
No worries at all! Thanks for your fix.

[2015-09-26 00:42] #296 closed

[2015-09-26 14:37] joedolson commented on #256
I think we need to be clear on the goal for this - since screen readers have their own custom navigation methods, this should be intended to provide better accessibility for keyboard-dependent users. It doesn't matter if these features don't work in a screen reader, as long as they don't interfere with the behavior of the screen reader.

For point 2 what's more accurate is that _keyboard users_ ha

[2015-09-27 05:31] eduardozulian opened #298 "Inconsistent comment author avatar size"
`.comment-author .avatar` uses a maximum of 42px, but `wp_list_comments()` on `comments.php` asks for a 56px avatar. I think we can reach an agreement.

[2015-09-27 13:32] philiparthurmoore opened #300 "Escaping Clarification Requested"
Asking again in its own Issue, since my questions in Slack and GitHub have largely gone unanswered: is there a discussion link that references why all the escaping in the theme was taken out? See also: https://wordpress.slack.com/archives/core-themes/p1443070214001020 and #240.

I am asking not to have escaping added back in, but to understand where I should be looking to for the correct rules and

[2015-09-27 14:24] #298 closed

[2015-09-27 16:02] trenzterra opened #301 "Dropdown menus and touch not working as intended in Firefox"
I run a tablet on Windows 8.1 (have not upgraded to Windows 10 due to some compatibility issues, but that's beside the point).

In past WordPress themes (excluding TwentyFifteen where you had to click the arrow to dropdown), registering a hover action via touch has always been and issue for dropdown menus (i.e. menus with a child item inside), as the browser usually inteprets it as a click, and th

[2015-09-27 19:15] iamtakashi commented on #301
Tested on Firefox (v41) in Android tablet (Android 5.1.1). It works as expected — First tap on a menu that has child menu items opens submenu, and second tap takes to the page.

I don't own a Windows tablet. Can anyone else replicate the issue?

[2015-09-27 22:58] trenzterra commented on #301
Hi Takashi,

I think it can be emulated by going into the F12 menu, clicking on Responsive Design, and then the 'Simulate Touch Events' button.

I'm just curious how Twentysixteen inteprets touch? Does it use pointer events or touch events, or both?

Many thanks!

[2015-09-27 23:10] trenzterra commented on #301
Hi there, I just tested on the nightly version of Firefox (44) and it seems to work now. Seems like Firefox just added pointerevents support back in August and it's yet to make it to the stable builds.

However, I still notice one problem with Firefox and Chrome: while you can open the menu with a tap, you can't close it by tapping elsewhere; the child menu remains open. Is there a way to fix this

[2015-09-27 23:32] iamtakashi commented on #301
Touch Events. See: https://github.com/WordPress/twentysixteen/blob/master/js/functions.js#L96

I personally don't think that's a huge deal but it maybe nice to fix.

[2015-09-28 02:25] tywayne opened #302 "Inconsistent use of single vs double quotes for HTML attributes"
Noticed a couple uses of single quotes around an attribute value in `header.php` and `footer.php`, while we use doubles everywhere else.

Looks like they were added in [4d434f6](https://github.com/WordPress/twentysixteen/commit/4d434f612cd21887f879a6c8e82f152160ff975f) when adding the `aria-label` attributes to the `nav` elements. It shouldn't make a difference either way, but unless I'm missing a

[2015-09-28 02:37] brentlogan opened #304 "box-shadow vs. border-bottom for links"
I'm curious about the decision to go with box-shadow instead of border-bottom for links. A bug in Windows Chrome results in a 1px vertical line on the left side of links some of the time (not all of the time). See screen capture below.

![bug](https://cloud.githubusercontent.com/assets/14060692/10126867/f2f0ab04-654d-11e5-95b1-5d2f8d867deb.png)

Potential work arounds are:

`box-shadow: 0 2px 0 -1

[2015-09-28 10:44] iamtakashi commented on #302
I think this has been just overlooked. Thanks for spotting it.

[2015-09-28 10:45] #302 closed

[2015-09-28 10:51] karmatosed commented on #301
If we get a PR in today lets do that, otherwise lets close as we need to make sure we get ready for merge. @trenzterra if you want to do a PR today, please do.

[2015-09-28 10:58] karmatosed commented on #300
You absolutely can use Twenty Sixteen. Just like any default theme. Historically default themes have actually had their escaping reversed in core. So, just like Twenties before this, we are simply doing it before. There is a lot of subjectivity over escaping. .com has traditionally done it a lot more, hence the discrepancy.

@ocean90 and others may care to add extra context, however as this isn't

[2015-09-28 10:58] #300 closed

[2015-09-28 10:59] #176 closed

[2015-09-28 10:59] #175 closed

[2015-09-28 11:05] iamtakashi commented on #304
The approach with box-shadow was to attempt not needing a transparent bottom border when we want to remove it on hover. Sometimes without the transparent border, the element jumps. See
- https://core.trac.wordpress.org/ticket/30654
- https://core.trac.wordpress.org/ticket/30332

The intermittent bug in Windows Chrome is certainly annoying.

[2015-09-28 13:57] trenzterra commented on #301
I don't have much knowledge about JavaScript so I don't think I will be able to patch this. But I have a suggestion to make, if someone could implement this in time it would be great:

Since menus with child menus will have the dropdown arrow, why not design the dropdown arrow to become a toggle, a la twentyfifteen? The hover behaviour could remain unchanged. on non-touch devices. But on touch dev

[2015-09-28 13:58] trenzterra commented on #301
Implementing such a behaviour will also make for a consistent touch experience across tablets and smartphones, where the mobile menu already operates on a similar premise.

[2015-09-28 14:14] iamtakashi commented on #301
The arrow has to be a lot bigger with your idea. (no one really can tap the tiny arrow in non-mobile menu). And having a huge arrow negatively impacts to the design a lot.

Like I said before, not letting people close dropdown is really not a big deal.

[2015-09-28 14:44] brentlogan commented on #304
Ah, that makes sense. Thanks!

[2015-09-28 15:35] mtomas7 opened #307 "Proposition to move edit_post_link to template-tags"
This function is found in 5 files and is repeated 6 times overall.

This example:

[code]

would look much more elegant:

[code]

[2015-09-28 15:47] iamtakashi commented on #307
Just to note the one in `content-page.php` and `content-search.php` are not the same as others to use `:empty` rule in CSS.

[2015-09-28 16:01] mtomas7 commented on #307
Can it be

[code]

replaced with:

[code]

[2015-09-28 16:02] karmatosed commented on #307
Due to the merge and nature that everything doesn't have to be a function, for now we are going to leave this out.

[2015-09-28 16:02] #307 closed

[2015-09-28 16:03] karmatosed commented on #304
As discussed in meeting, closing due to being a browser bug.

[2015-09-28 16:03] #304 closed

[2015-09-28 16:04] karmatosed commented on #301
We talked about this in meeting and flagging as won't fix.

[2015-09-28 16:04] #301 closed

[2015-09-28 16:05] karmatosed commented on #256
As discussed today was the cut off point for PR. With that in mind, this is going to be closed.

[2015-09-28 16:05] #256 closed

[2015-09-28 16:13] karmatosed commented on #17
This was discussed in this week's chat. We have a merge window and the PR is now out of date. Thanks for all your input and lets focus efforts on _s for now.

[2015-09-28 16:13] #17 closed

[2015-09-29 15:11] trenzterra opened #310 "Child-child menu getting cut off"
I notice that child-child menus will appear offscreen at resolutions from around 910px to about 1,600px because there simply isn't enough whitespace on the right. An example is shown below:

![cutoff](https://cloud.githubusercontent.com/assets/14861280/10168381/131376ac-66ff-11e5-803b-5a7d2c71a561.png)

While I appreciate that child-child menus may be an edge use case, it would still be good to ha

[2015-09-29 15:21] karmatosed commented on #310
For now, we are not fixing this as a known issue but the solution doesn't provide a consistent UX. We can look perhaps during testing once in core. But, probably as agreed this will be a won't fix until release.

[2015-09-29 15:21] #310 closed

[2015-09-29 22:14] iamtakashi commented on #63
A new screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/908665/10179722/cd2bf1a4-66ff-11e5-9749-2e4336eeaed2.png)

[2015-09-29 22:19] #63 closed

[2015-09-30 03:03] iamtakashi commented on #5
Done!

[2015-09-30 03:03] #5 closed

[2015-09-30 08:41] TheHeat commented on #177
I agree that if these colour schemes are being offered to site-owners, many of whom will have no knowledge of a11y standards at all, they should _all_ comply with colour contrast standards.

It is not unreasonable to expect _everything_ that comes out of a high profile project like WordPress to meet these standards.

[2015-09-30 22:15] krogsgard opened #321 "Horizontal scroll with dropdown"
I have a dropdown on the right most item and it causes horizontal scroll currently.

https://cldup.com/Y9pyWXHmjg.png

[2015-10-01 10:10] iamtakashi commented on #321
This has come up before but we've "won't fixed" as a design limitation of the menu.

A number of solutions have been suggested but all of them were inelegant or something like the cures being worse than the disease. The scrollbar only appears when you see the child menu items anyway and without it, the item won't be accessible.

I'm closing this as won't fix for now but this is something we can co

[2015-10-01 10:10] #321 closed

[2015-10-01 15:49] krogsgard commented on #321
This is a very common thing... to put dropdowns on the last menu item. In my opinion a better design patter is to right align submenus if the menu is right aligned. I do this and have always done this wherever possible, to avoid this very issue. I don't think not handling the issue is a great fix. At a minimum I'd set a rule to right align the last menu item, even if it is painful to see as a desi

[2015-10-01 16:03] iamtakashi commented on #321
Thanks for your opinion, @krogsgard. As you can imagine, your solution has been considered but it's not simple when we need to accommodate with unknown number of menu items. The last item can easily at the left edge and we have the same issue.

![screen shot 2015-10-01 at 17 00 46](https://cloud.githubusercontent.com/assets/908665/10226200/07498e96-685e-11e5-86a8-7372c1c5b9fd.png)

[2015-10-01 16:07] iamtakashi commented on #321
Just to be clear, we're not trying to not handle the issue. We haven't yet come across a great fix.

[2015-10-01 16:12] krogsgard commented on #321
I understand. I just try to approach issues in terms of likely scenarios and unlikely scenarios.  A dropdown on the last menu item seems a more likely scenario than a relatively unattractive menu setup where it's overloaded. So yes, you may have the same issue, but if you fix it in the more likely scenario, you still have a fix for the majority of situations, versus no fix.

I'm sure you've hashed

[2015-10-01 16:23] iamtakashi commented on #321
You have a great point and your feedback is always appreciated. This is a tricky issue and something I'd like to keep thinking the best approach.

[2015-10-01 23:32] mathetos opened #323 "Tel Input types are not styled"
The "tel" input type allows mobile users to use their number pad to input fields. See here:
http://www.w3.org/TR/html-markup/input.tel.html

Currently Twenty Sixteen's tel inputs are unstyled. I know it's late in the game, but it would be important  to round out TwentySixteen's mobile experience, and the fix is really easy. See example here:

![tel-fields-unstyled](https://cloud.githubusercontent.

[2015-10-01 23:58] iamtakashi commented on #323
Are you talking about `tel` or `number`? Isn't the field in the screenshot for `number` type?

[2015-10-02 00:32] iamtakashi commented on #323
Maybe not. The number type should have arrows shouldn't it.

But I'm still not sure what the screenshot really means.

[2015-10-02 02:04] mathetos commented on #323
I'm referring to "tel". You can see the reference in the link I provided above. It allows mobile phones to use the number pad to enter the numbers in the field (like the Credit Card field which you see in the screenshot as NOT styled) instead of the keyboard.

[2015-10-02 02:06] mathetos commented on #323
Sorry, to be a little more explicit: the "Credit Card" field in the screenshot is
`<input type="tel">`

[2015-10-02 02:20] iamtakashi commented on #323
Ah, OK. The Credit Number field above uses actually `tel` type. It wasn't very obvious because of the mismatch between the label and the type.

Hmm... The mismatch feels weird and I'm not sure if we should support this kind of case. Is it something a lot of forms do in this mobile era?

[2015-10-02 02:30] mathetos commented on #323
It's not unique to this case, the input[type="tel"] is not styled at all like all the other input types. It only requires adding that input type to the same rule as the others, no additional styling. It just needs to be included in the list of input types.

Regardless of whether it's applied to a telephone number field or credit card field it should also be styled, right?

[2015-10-02 02:35] iamtakashi commented on #323
Right. I see your point but If we're going to add style for `tel` type, it opens up a question "Should we style all input type?"

[2015-10-02 02:36] iamtakashi commented on #323
In other words, what other types should be added in the CSS?

[2015-10-02 02:40] fsylum commented on #323
IMO, following what Bootstrap does, should be fine. Ref: https://github.com/twbs/bootstrap/blob/master/less%2Fforms.less#L97-L112

[2015-10-02 02:41] mathetos commented on #323
Well, probably the inputs which are basically a variation of the basic text field should be styled similarly. I mean, styling the "date" input type is ridiculous considering how browsers and OS's handle it.

I'll try to put together a more comprehensive suggestion a little later tonight, but I think it would still basically be very minimal changes with an overall effect of having a more consistent

[2015-10-02 03:25] mathetos commented on #323
OK, here's all the major input fields according to the current stylesheet:

![form-elements-current](https://cloud.githubusercontent.com/assets/930724/10238810/8cddc8a4-6879-11e5-9224-411ede605f75.jpg)

If we take these lines in style.css:
https://github.com/WordPress/twentysixteen/blob/master/style.css#L615-L627

and change it to this:
`input, textarea {. . .}`
and update this:
https://github.com

[2015-10-02 03:39] mathetos commented on #323
Looks like we're missing a colon and line break here anyway. After background: #f7f7f7

https://github.com/WordPress/twentysixteen/blob/master/style.css#L615-L627

[2015-10-02 03:48] iamtakashi commented on #323
I'd say the proposed change is too radical and I can see a number of issues that will need to be adjusted different cases.
- Having line height on input will cause a issue in IEs — text inside will be cut off.
- Having bottom margin will cause double margin when each field is wrapped with `<p>` for example in the comment form.

? I'm not following. Can you clarify why we need a colon there?

[2015-10-02 03:57] iamtakashi commented on #323
I'd say it's safer to add selectors for popular types so that we're not causing new issues with this idea.

[2015-10-02 04:00] mathetos commented on #323
I kinda agree, just wanted to put everything on the table. But let's break it up into parts

## Missing Colon
- The background color is not being applied to browsers besides Chrome. Line 622 should be this instead:

[code]

## Line Height/Margin
- Not a problem. Though I did test in IE10 and it was perfectly consistent with the screenshot
- Let's ditch this

## INPUT STYLING
- Originally, this was

[2015-10-02 04:21] iamtakashi commented on #323
Oh, that's a good catch. But then the gradient rule wouldn't have a property :) The purpose for the gradient is to remove the horrible inner shadow and rounded corners from iOS input. We need to add a property `background-image` for that then. I thought the shorthand works but it only worked with webkit.

I'm ok with adding `tel` and `number`.

The reason for the 100% width is mostly visual. I don

[2015-10-02 04:24] iamtakashi commented on #323
so, this should work as intended with other browsers.

[code]

[2015-10-02 04:27] mathetos commented on #323
OK, I disagree on the width: 100%, but it really doesn't matter so much.

Sending over the PR for the background color issue, and the tel and number fields.

[2015-10-02 14:30] #323 closed

[2015-10-02 20:42] brentlogan opened #329 "Disqus integration"
I just started experimenting with Disqus and Twenty Sixteen. I'm curious whether we want to simplify integrating Disqus into Twenty Sixteen. I think it would be a good idea.

For many screen widths, Disqus looks fine, as is matches the width of #main. When the screen width gets narrower, Disqus no longer looks good. Below a screen width of 710px, Disqus has no margins or padding and runs to the ed

[2015-10-02 20:55] karmatosed commented on #329
There's a long list of things that everyone will think should and shouldn't be supported in Twenty Sixteen. That's great, because in the world of WordPress we all have our own methods, choices and variations. That's exactly why child themes exist too. It would not be a good way to go, to have everyone's options in a default theme. As a result, for now I'd suggest integrating like this wouldn't be

[2015-10-02 21:01] iamtakashi commented on #329
A core theme should never carry any third-party plugin specific style.

[2015-10-02 21:01] #329 closed

[2015-10-02 21:13] brentlogan commented on #329
Thanks everyone for the feedback. I only bring it up because I've seen many Twenty Fifteen blogs using Disqus that have no customization applied. It's not pretty and, in my mind, reflects on the theme as well.

I guess I'm remembering the practice of many years ago where theme authors would included CSS for third party plugins for breadcrumbs and navigation. If that's old school, no problem. :-)

[2015-10-03 05:37] psychomuell opened #331 "Ping"
Hi :-)

I'm not a coder, but I think I've found a *ping* error.
I sent a ping from my subdomain to my blog for testing, My blog shows this errrors:

Fatal error: Call to undefined function the_comments_navigation() in /home/psychomuell/psychomuell.de/wp-content/themes/twentysixteen/comments.php on line 49
03980740dfec8fe1d186f306?s=42&d=blank&r=g, https://secure.gravatar.com/avatar

Maybe this hel

[2015-10-03 07:31] grappler commented on #329
It is still good to add support for plugins in a theme but there are so many plugins that it is impossible to support all plugins.

You can always create a child theme or offer the CSS snippet on your website that others can use.

[2015-10-03 13:44] robertdevore commented on #331
I just tested a ping and see the same error. It doesn't show when I have actual comments on a post.

Someone can correct me if I'm wrong, but `the_comments_navigation()` is a function for with WordPress 4.4, correct? So it'd be an issue with that, and not this theme?

[2015-10-03 14:02] robertdevore commented on #331
Found [this changeset](https://core.trac.wordpress.org/changeset/34367) which explains more about the function. Doesn't look like a twentysixteen issue, but again, correct me if I'm wrong.

[2015-10-03 14:39] robertdevore commented on #331
FYI, I just tested it with [WordPress 4.4](https://github.com/wordpress/wordpress) and it's working just fine.

I'm not sure if a check to ensure the function exists should be put in place before firing it, but that seems like something that should be explored to ensure backwards compatibility with older versions of WordPress.

[2015-10-03 16:00] iamtakashi commented on #331
As it's stated in [readme.text](https://github.com/WordPress/twentysixteen/blob/master/readme.txt) and [here](https://make.wordpress.org/core/2015/10/02/update-on-twenty-sixteen/), Twenty Sixteen _requires_ at least 4.4-alpha now.

The reason is that a default theme that will be released with a new version of core should not be facilitating older versions of core.

[2015-10-03 16:00] #331 closed

[2015-10-03 19:27] brentlogan commented on #329
@grappler, good idea! Done. :-)

[2015-10-06 15:43] tevko opened #344 "Enable Support for Responsive Images"
[In light of the recent merge of the RICG-responsive-images plugin into WP core](https://github.com/aaronjorbin/develop.wordpress/commit/fabd554bb2588f0ca52383128186adf9ba469329), it would be great to see full responsive image support (using ``srcset`` and ``sizes`` attributes on the image tag) find its way into the Twenty Sixteen  theme.

While the recently merged patch ensures that valid ``srcse

[2015-10-06 18:33] karmatosed commented on #344
Hey @tevko, would it be possible to have a PR for this?

[2015-10-06 18:49] tevko commented on #344
@karmatosed Will have one shortly!

[2015-10-06 21:12] karmatosed commented on #344
Awesome! Look forward to it.

Note: eep sorry closed by accident.. reopened.

[2015-10-08 03:15] tevko commented on #344
PR #347

[2015-10-10 04:22] ghost commented on #344
Nice!

[2015-10-10 16:45] tevko commented on #344
PR updated - #348

[2015-10-10 19:23] moserdominik opened #351 "Meta Navigation in Footer for Links like Impressum, Contact, About"
The new theme 'twenty sixteen' is specially nice.

It would be desirable to have an optional meta navigation in the footer. The navigation should placed on every site, post and overview – including homepage. It could be for pages like impressum, contact or about.

Thank you all for your work.

Your sincerely
Dominik

[2015-10-15 17:54] brentlogan opened #352 "User Documentation"
I'd like to see Twenty Sixteen distributed with documentation aimed at users, not just developers. This could include theme-specific items, such as:

1. How the theme uses excerpts.
1. How to use the theme with and without a sidebar.
1. Which image sizes should be used, such as how to duplicate the large image in the theme screenshot (I have been unable to get an image to exceed the text margins o

[2015-10-17 16:19] robertdevore commented on #351
Do you mean having this automatically added in, or as an option for the user to add a custom menu to the section in the footer?

[2015-10-17 18:45] ghost commented on #351
I think it should be an optional menu as well as the footer menu for social links.

I would prefer an menu optionally. As well as the footer menu for social links.

For example: "Home | About | Impressum" or "Home · About · Impressum"

[2015-10-19 00:08] robertdevore commented on #351
Where would you place them? Under the copyright? Inline with the copyright?

[2015-10-19 07:37] ghost commented on #351
Inline with the copyright or above the copyright? Otherwise it could be as an footer widget on every page (inkl. homepage). But i'm not an designer.

[2015-10-19 12:55] robertdevore commented on #351
It looks like the theme already has a footer menu option built in that shows the primary navigation menu.

[2015-10-19 20:00] ghost commented on #351
Yes a footer widget is there, but not on every site (eg. blog main site is without)

[2015-10-22 11:52] karmatosed commented on #352
I'm keen we don't have more files to add documentation. If this can be added to the readme in some form, that's the best route. How about you try and work on a pull request?

[2015-10-22 11:53] karmatosed commented on #351
I think we have enough options for now. At this late stage adding something is also not desirable. There is also the option of a child theme if you want to add more things.

[2015-10-22 11:53] #351 closed

[2015-10-22 18:20] brentlogan commented on #352
@karmatosed I'm fine with not adding more documentation. In reviewing the readme, I see there's already a link to the codex page for use and customization (although it's a placeholder for now).

I wonder how the typical WordPress user ever finds readme.txt.  I wouldn't expect the typical user to download any theme or browse the code. It's just so much easier to install themes from the WordPress ba

[2015-10-22 21:47] karmatosed commented on #352
I personally think it's fine, but lets see what @iamtakashi thinks.

[2015-10-23 03:49] DrewAPicture opened #353 "Reserved Toolbar space on wp-signup.php"
Looks like space is being reserved at the top of the window for the Toolbar when logged-in and viewing wp-signup.php. The Toolbar isn't displayed on wp-signup.php, so it looks a little wonky.

Seems like it's probably tied to the `.admin-bar` body class. Unchecking the "Show Toolbar when viewing site" option removes that class and therefore removes the reserved space.

![Twenty Sixteen Signup](htt

[2015-10-23 04:00] iamtakashi commented on #353
This probably better to be filed as a core issue because the body class shouldn't be there when there is no admin bar, should it?

[2015-10-23 05:42] DrewAPicture commented on #353
I brought it up here because this seems to be the only default that has this problem. I've always been under the impression that best practice was to mold around the Toolbar being injected by core (or not) rather than reserving the space with the expectation that it will always be there if the body class is present.

My hesitation In removing the class via core, is that I wonder if we'd introduce

[2015-10-23 06:01] iamtakashi commented on #353
I think it's reasonable for themes to use the body class to adjust the style. That's one of the purpose of the body class. I understand your concern and I can't see all the possibility of the outcome of removing the class from the page but, to me it's a legitimate bug in core and I'm glad you spotted it. But I still believe It'd be best to fix in core rather than making themes deal with it.

[2015-10-23 13:41] iamtakashi commented on #352
Theme description on `/themes.php` isn't from readme.txt, but the one in `style.css`.

@karmatosed, Does TRT have any policy about having a link in the theme description in `style.css`?

[2015-10-23 13:50] karmatosed commented on #352
I'm not keen we add a link, no. That's why I think things are ok. It wouldn't actually show as a proper link. It would be www.something.com rather than a href.

[2015-10-23 14:11] iamtakashi commented on #352
A link properly displayed on `/themes.php` but I can see why TRT doesn't like to have a link in description  (abusing it to spam etc.)

So the only option if we want to add extra documentation is readme.txt.

[2015-10-23 14:24] brentlogan commented on #352
Both WordPress Themes and the Twenty Sixteen back end display:

The style.css headed doesn't include this text, but:

[code]

I browsed the popular themes on WordPress, hoping to find one with a real link in the description. The only one I found with any links was [Accesspress Lite](https://wordpress.org/themes/accesspress-lite/), but they're just bare un-anchored links like @iamtakashi described

[2015-10-23 15:11] iamtakashi commented on #352
? Just to be clear, as I mentioned before, the text is from `Description`  after `Author URI` in the header in style.css.

Anyway, the .org theme directory doesn't show a link so that's out of option.

[2015-10-23 16:26] iamtakashi commented on #353
The consensus among the team is that this should be fixed in core as the body class should not be there when the admin bar isn't displayed.

@DrewAPicture, Could you move this to core trac? It will be beneficial to be fixed in core for a long term.

[2015-10-23 21:03] DrewAPicture commented on #353
After some digging, looks like a core bug introduced three years ago was preventing the Toolbar from being displayed on wp-signup.php. We'll handle that in https://core.trac.wordpress.org/ticket/34418.

On the reserved space issue, I respect the team's decision, but disagree. I think we're setting a poor example by doing it. It should just work like many many other themes have worked before it (in

[2015-10-23 22:03] iamtakashi commented on #353
@DrewAPicture, I'm glad to see the issue is going to be handled in core. Thanks.

It's hard for me to understand why you think this is a poor example. Just to explain, in order to make the top part of the border stay in the appropriate position even you scroll the page, the position of the element has to be specified. And it depends on the existence of the admin bar and its height, the value of th

[2015-10-24 12:45] #353 closed

[2015-10-24 19:08] joedolson opened #355 "Widgets should not be individually wrapped by <aside>"
The aside element creates an implicit landmark role on the page, which results in every added widget creating a new landmark role within the widgeted region. Since the widgeted region is, itself, a landmark region, this is unnecessary duplication, and can result in generating too many landmarks. Too many landmarks makes the usability of landmark navigation significantly worse.

[2015-10-26 16:53] davidakennedy commented on #355
I mentioned this in a recent Core Themes chat, but wanted to put it here too:

From a pure accessibility perspective, the change from `aside` to `div` means that a screen reader user would hear less landmark roles when they navigated a page using them. If a site owner has a lot of widgets, it can be very “noisy” because they would hear a lot of landmark roles. That means it's harder to get to bigg

[2015-10-26 17:07] joedolson commented on #355
In the meeting we agreed to shift to section, rather than div, in keeping with the conversation in https://core.trac.wordpress.org/ticket/30556. I agree that moving the entire sidebar to an `aside` instead of a `div` would be a good move, but is a separate issue at this time.

[2015-10-26 17:10] iamtakashi commented on #355
What about the outer wrapper for widgets such as `.sidebar`, and `.content-bottom-widgets`? Are we keeping `div` for these when we change each widget to be `section`?

[2015-10-26 17:13] joedolson commented on #355
Since we haven't really discussed it, I figured that should be a separate question. It doesn't effect the accessibility question under discussion.

[2015-10-26 18:17] karmatosed commented on #352
Tentatively closing this now. We can revisit in meeting if I'm doing this prematurely.

[2015-10-26 18:17] #352 closed

[2015-10-26 20:43] iamtakashi commented on #355
After reading the core ticket, the use of `section` is the consensus and that's the direction that core is heading to. So, I'd vote yes to this change and also change the outer wrapper to use `aside`.

[2015-10-27 15:20] davidakennedy commented on #355
Sounds good!

[2015-10-29 21:27] karmatosed commented on #355
I would really not advise the outside becomes aside. That feels like wrong use of aside to me. I'd be accepting of section but not of outside being aside with sections in.

[2015-10-29 21:37] karmatosed commented on #355
Noting I just merged in section. The discussion of aside being the entire sidebar is still outstanding.

[2015-10-30 17:00] iamtakashi commented on #355
We've discussed about what element to use for the outer wrapper in <a href="https://wordpress.slack.com/archives/core-themes/p1446221077000264">#core-themes today</a>, and the consensus was to use `aside`. I'll add a PR shortly.

[2015-10-31 15:39] karmatosed commented on #355
This I 'think' is closed now as I've merged the PR.

[2015-10-31 15:39] #355 closed

[2015-10-31 16:10] joedolson commented on #355
Looks great! Thank you.

[2015-11-09 19:55] #344 closed

[2015-11-10 07:59] samikeijonen opened #371 "Javascript detection issues with plugins"
Have you noticed any issues using `twentysixteen_javascript_detection()` with plugins that also add classes in `html` tag?

In noticed that in some cases when a plugin or other script add classes they get wiped of and only `js` class is left. This can be a problem in my end. I believe it occured when plugin adds several classes where `js` is one them. Example added classes by plugin: `js some-else

[2015-11-10 08:11] samikeijonen commented on #371
Nevermind, it was issue in my end. Other classes gets printed just how they should after `js` class.

[2015-11-10 08:11] #371 closed

[2015-11-10 08:54] MonikaTS opened #372 "all image sizes at content, the theme or core I don't know"
this morning I did a responsive image test.
only developer plugins are active, WP nightly build and twenty sixteen from "last night".
I upload a new image, insert this image with 300px width
after this I have all larger image sizes at source and this doesn't make sense too me.

`<img src="xx/media/2015/11/IMGP9685-300x199.jpg" alt="IMGP9685"
    width="300" height="199" class="aligncenter size-med

[2015-11-10 09:46] iamtakashi commented on #372
Some details might have been changed but maybe you'll find this article from @tevko helpful.

http://www.smashingmagazine.com/2015/02/ricg-responsive-images-for-wordpress/

[2015-11-10 17:15] #372 closed

[2015-11-11 22:55] kraftbj opened #373 "Grey Color Scheme + Select Dropdown not readable on FF"
Steps to reproduce
0. Twenty Sixteen + Grey or Dark color scheme
1. Add an Archives widget with the dropdown option enabled.
2. View in Firefox (either stable or dev)

![screen shot 2015-11-11 at 16 39 40](https://cloud.githubusercontent.com/assets/88897/11105197/f7c34232-8892-11e5-9aab-5041abe527b8.png)

[2015-11-11 23:16] #373 closed

[2015-11-12 17:49] mtomas7 commented on #17
@dshanske Perhaps you have a code example how to implement microformats v2 via theme's functions.php? Thank you!

[2015-11-12 20:03] dshanske commented on #17
http://microformats.org/wiki/h-entry

Add h-feed and h-entry where you have hfeed and hentry.

The rest would be in the static markup. I could see about a Pull Request.

[2015-11-12 20:22] mtomas7 commented on #17
Thank you!

I also found this good example:

https://github.com/pfefferle/SemPress/blob/master/sempress/inc/semantics.php

I like it because it would not change static theme files in case formats would change.

[2015-11-12 20:27] dshanske commented on #17
I'm familiar with @pfefferle. I've contributed to a bunch of things he's done. But using functions would work for formats that go on comment_class, post_class, or body_class. But we don't have anything like content-class or such, so it isn't possible at that level.

[2015-11-12 20:39] mtomas7 commented on #17
I see, I will try to insert it via custom function how I did with schema.org for article, then everything could be in functions.php, or is it not very good way?

`<article id="post-<?php the_ID(); ?>" <?php post_class(); ?> <?php tinyframework_article_tag_schema(); ?>>`

[2015-11-12 20:41] dshanske commented on #17
https://github.com/dshanske/wp-semantics

I was experimenting with this idea a while back as well.

[2015-11-12 20:44] mtomas7 commented on #17
Right! I started working on it when I got client to build auto sales related site, then I understood that I will have manually change many schema.org tags, then I started to move everything to functions.php :)

[2015-11-12 20:47] dshanske commented on #17
https://core.trac.wordpress.org/ticket/32326

I had proposed this be something in core, so that any arbitrary markup could be added by plugin, and just supported by the theme.

[2015-11-12 20:50] dshanske commented on #17
Specifically about Microformats, Microformats implementation in WordPress was improperly done by many themes, and that was copied over and over so it spread around a large percentage of sites. At the least, twentysixteen will now fix that.

The question about Microformats2 is that it is a refinement of the original markup. For example, class microformats used entry-title to indicate the title of a

[2015-11-12 20:56] mtomas7 commented on #17
I will try to combine @pfefferle and your approaches into functions.php, but I do not expect anything similar landing in Underscores, as it is pretty stagnant in this area.

I just do not understand why  @pfefferle uses this declaration, does it change anything in real life?

[code]

Default WP themes do not declare it.

[2015-11-12 20:57] dshanske commented on #17
It was my suggestion. The idea being an arbitrary way to tell a plugin you were compliant with a markup standard.

[2015-11-12 20:59] mtomas7 commented on #17
It would be good if these things would be standardized by WP community, so many could use the support for features that are not included in the core yet.

[2015-11-12 21:00] dshanske commented on #17
Feel free to throw your support behind https://core.trac.wordpress.org/ticket/30783.

[2015-11-14 06:16] brentlogan opened #378 "select not being styled"
It looks like the select element should be added to the selector around line 628 of style.css. This would style it consistently with the other form input fields.

[code]

Without suggested change:

![without](https://cloud.githubusercontent.com/assets/14060692/11162382/1064852c-8a54-11e5-8288-e72c1e6d263b.jpg)

With suggested change:

![with](https://cloud.githubusercontent.com/assets/14060692/111

[2015-11-14 06:24] iamtakashi commented on #378
I'm not crazy about this idea. In my experience, select element is better to leave it with default browser style.

Have you checked different browsers in each OS and mobile? Chrome, Safari, Firefox, Opera, Versions of IE, Windows, Mac, iOS, and Android?

Related: https://github.com/WordPress/twentysixteen/issues/373

[2015-11-14 20:39] brentlogan commented on #378
I have tried it with Chrome, Edge, and Firefox on desktop and Chrome, Firefox, and AdBlock Browser on Android. It effects only the initial display of the dropbox, not what appears when the box is active.

I much prefer it.

In a somewhat related matter, on narrow screen widths, text breaks in mid-word. I added `word-wrap: normal;` in an attempt to fix this, but now too long text displays in a sing

[2015-11-15 15:38] schoenwaldnils opened #379 "Title without Markup"
The post title doesn't render italic bold styles.

[2015-11-15 15:57] iamtakashi commented on #379
1. Make sure you have actually `<em>` around "with" in the title.
   ![screen shot 2015-11-15 at 15 57 43](https://cloud.githubusercontent.com/assets/908665/11169493/98cce2b6-8bb1-11e5-92f7-39bfa39fd7c0.png)
2. Unfortunately <a href="https://www.google.com/fonts/specimen/Montserrat">Montserrat</a>, does not have italic so it will be a fake italic but I don't think it's a big deal as I see it as an